Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

echo-server-trafik
  clusters/lovenet/apps/network/echo-server/helm-release.yaml
Labels: area/cluster

update-blackbox-names
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

add-vector
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/helm/vector-charts.yaml
  clusters/lovenet/core/monitoring/kustomization.yaml
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/agent/kustomization.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/filterlog-regex.txt
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/kustomization.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/config-pvc.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/cron-job.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/kustomization.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secret.sops.yaml
  clusters/lovenet/core/monitoring/vector/kustomization.yaml
Labels: area/cluster

feat(helm): update helm release prometheus-blackbox-exporter to v5.8.0
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

fix-geoipupdate
  clusters/lovenet/core/monitoring/vector/geoipupdate/kustomization.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secret.sops.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  create-secrets.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets-tmpl.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

add-syslog-addr
  tmpl/cluster-settings.yaml
Labels: none

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(helm): update helm release vector to v0.10.3
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.45.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

remove-opnsense
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.14.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

update-loki
  clusters/lovenet/core/monitoring/loki/dashboard/kustomization.yaml
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
  clusters/lovenet/core/monitoring/loki/kustomization.yaml
  clusters/lovenet/core/monitoring/loki/prometheus-rule.yaml
Labels: area/cluster

remove-aws-s3-loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

remove-aws-s3-loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix-kube-vip
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  tmpl/kube-vip-daemonset.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix-kube-vip-2
  tmpl/kube-vip-daemonset.yaml
Labels: none

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

Revert "feat(helm): update helm release prometheus-blackbox-exporter to v5.8.0"
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

feat(container): update helm values codercom/code-server to 4.4.0
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

feat(container): update helm values codercom/code-server to 4.4.0
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.29.1
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.15.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(container)!: Update helm values mbentley/omada-controller to 5.3
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.45.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.45.5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

snmp-exporter
  clusters/lovenet/core/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/config-map.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/dashboard/dashboard.json
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/dashboard/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/prometheus-rule.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/config-map.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/dashboard/dashboard.json
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/dashboard/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/kustomization.yaml~
Labels: area/cluster

fix-snmp-exporter
  clusters/lovenet/core/kustomization.yaml
  clusters/lovenet/core/monitoring/kustomization.yaml
Labels: area/cluster

disable-statping
  clusters/lovenet/core/monitoring/statping/helm-release.yaml-disabled
Labels: area/cluster

Revert "disable-statping"
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

break-stash
  clusters/lovenet/apps/media/stash/helm-release.yaml
Labels: area/cluster

Revert "break-stash"
  clusters/lovenet/apps/media/stash/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release common to v4.4.2
  charts/kah-common/Chart.lock
  charts/kah-common/Chart.yaml
Labels: none

fix(helm): update helm release bazarr to v10.5.2
  clusters/lovenet/apps/media/bazarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release beets to v1.3.2
  clusters/lovenet/apps/media/beets/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release homer to v7.2.2
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release icantbelieveitsnotvaletudo to v5.3.2
  clusters/lovenet/apps/home/icantbelieveitsnotvaletudo/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release jellyfin to v9.4.2
  clusters/lovenet/apps/media/jellyfin/helm-release.yaml
Labels: area/cluster
