Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix(helm): update helm release mariadb to v11.0.3
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.50.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release phpmyadmin to v10.0.2
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.3.1
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

update-feeds-json-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v3.0.2
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release external-dns to v6.4.0
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.52.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release k8s-gateway to v1.1.8
  clusters/lovenet/apps/network/k8s_gateway/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release k8s-gateway to v1.1.9
  clusters/lovenet/apps/network/k8s_gateway/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.52.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release phpmyadmin to v10.0.3
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release home-assistant to v13.2.0
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.8.1520
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release phpmyadmin to v10.1.0
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.57.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.15
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.2.0
  .pre-commit-config.yaml
Labels: none

fix(helm): update helm release grafana to v6.29.2
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.19.5
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(container): update helm values codercom/code-server to 4.4.0
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release prometheus-blackbox-exporter to v5.8.1
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.59.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.60.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release grafana to v6.29.3
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v3.0.3
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.4.1
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.29.3
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v3.0.3
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.1
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.4.1
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.4.1
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.29.3
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v3.0.3
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.62.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release metallb to v3.0.4
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.63.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release phpmyadmin to v10.1.2
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.0.5
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.2
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
