Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

feat(github-action): update renovatebot/github-action action to v32.6.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release goldilocks to v6.1.0
  clusters/lovenet/core/monitoring/goldilocks/helm-release.yaml
Labels: area/cluster

reomve-service-definitino
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

try-to-fix-omada-ingress
  clusters/lovenet/apps/network/traefik/middlewares/omada.yaml
Labels: area/cluster

Revert "try-to-fix-omada-ingress"
  clusters/lovenet/apps/network/traefik/middlewares/omada.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.27.4
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

chore(deps): update stashapp/stash digest to
  clusters/lovenet/apps/media/stash/helm-release.yaml
Labels: area/cluster

chore(deps): update stashapp/stash digest to
  clusters/lovenet/apps/media/stash/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release kube-prometheus-stack to v34
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release phpmyadmin to v9.0.10
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release metallb to v2.6.9
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.2.1
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release longhorn to v1.2.4
  clusters/lovenet/core/longhorn/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.11
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

chore(deps): update stashapp/stash digest to
  clusters/lovenet/apps/media/stash/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release kubernetes-dashboard to v5.3.1
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

update-omada-chart-to-carpenike
  clusters/lovenet/apps/network/omada/helm-release.yaml
  clusters/lovenet/apps/network/omada/nfs-config.yaml
Labels: area/cluster

fix-omada-chart-persistence
  clusters/lovenet/apps/network/omada/helm-release.yaml
  clusters/lovenet/apps/network/omada/nfs-config.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release kube-prometheus-stack to v34.1.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

update-env-vars
  clusters/lovenet/apps/network/omada/helm-release.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

feat(helm): update helm release vpa to v1.3.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vpa to v1.3.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.12
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vpa to v1.3.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release frigate to v8
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

fix-double-take-config-errors
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

change-metallb-range
  tmpl/cluster-settings.yaml
Labels: none

update-secrets
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release vpa to v1.3.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.8.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.7.1483
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vpa to v1.3.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.7
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release vpa to v1.3.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
