Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.0.0.2165
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.312
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

disable-vector
  clusters/lovenet/core/monitoring/kustomization.yaml
Labels: area/cluster

Update README.md
  README.md
Labels: none

mv-downloads-gateway
  clusters/lovenet/core/downloads-gateway/helm-release.yaml-mv
Labels: area/cluster

Revert "mv-downloads-gateway"
  clusters/lovenet/core/downloads-gateway/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 43.1.4
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update chart redis to 17.4.0
  clusters/lovenet/apps/databases/redis/helm-release.yaml
Labels: area/cluster

downloads-gateway-nodeselector
  clusters/lovenet/core/downloads-gateway/helm-release.yaml
Labels: area/cluster

disable-valetudo
  clusters/lovenet/apps/home/kustomization.yaml
Labels: area/cluster

foo
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/secrets.yaml
  clusters/lovenet/apps/downloads/qbittorrent/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/owncloud-ocis/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/media/whisparr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/social-media/mastodon/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/downloads-gateway/helm-release.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/secrets.yaml
  clusters/lovenet/apps/downloads/qbittorrent/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/owncloud-ocis/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/media/whisparr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/social-media/mastodon/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

test-qbt-categories
  clusters/lovenet/apps/downloads/qbittorrent/config/categories.json
Labels: area/cluster

test-qbit-categories-fix
  clusters/lovenet/apps/downloads/qbittorrent/config/categories.json
Labels: area/cluster

remove-categories-from-qbt-config
  clusters/lovenet/apps/downloads/qbittorrent/config/categories.json
  clusters/lovenet/apps/downloads/qbittorrent/kustomization.yaml
Labels: area/cluster

lidarr-xfs
  clusters/lovenet/apps/media/lidarr/config-pvc.yaml
Labels: area/cluster

prowlarr-xfs
  clusters/lovenet/apps/media/prowlarr/config-pvc.yaml
Labels: area/cluster

radarr-xfs
  clusters/lovenet/apps/media/radarr/config-pvc.yaml
Labels: area/cluster

sonarr-xfs
  clusters/lovenet/apps/media/sonarr/config-pvc.yaml
Labels: area/cluster

sonarr-xfs
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

airsonic
  clusters/lovenet/apps/media/airsonic/config-pvc.yaml
  clusters/lovenet/apps/media/airsonic/helm-release.yaml
  clusters/lovenet/apps/media/airsonic/kustomization.yaml
Labels: area/cluster

fix-airsonic
  clusters/lovenet/apps/media/airsonic/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to 51a0f8c
  clusters/lovenet/apps/media/theme-park/helm-release.yaml
Labels: area/cluster

zwave-app-template
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
Labels: area/cluster

nodeaffinity
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
  clusters/lovenet/core/downloads-gateway/helm-release.yaml
Labels: area/cluster

zwave-mv
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml-mv
Labels: area/cluster

Revert "zwave-mv"
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
Labels: area/cluster

fix-airsonic-storageclassname
  clusters/lovenet/apps/media/airsonic/config-pvc.yaml
Labels: area/cluster

zwave-app-template
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.6.2
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to 497f6d2
  clusters/lovenet/apps/media/theme-park/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.73.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

disable-airsonic
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to 472d563
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.0.0.2171
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.314
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 43.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to d8365f9
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.316
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.48.2
  clusters/lovenet/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
