Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

disable-qbt-rss-and-kodi-helm
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

Revert "no-configmapgenerator"
  clusters/lovenet/apps/media/mopidy/configmap.yaml
  clusters/lovenet/apps/media/mopidy/kustomization.yaml
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v35.0.3
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

disable-tidal-mopidy
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

feat(helm): update helm release grafana to v6.28.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v35.0.3
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.32.5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release external-dns to v6.3.0
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.4
  .pre-commit-config.yaml
Labels: none

fix(github-release): update dependency fluxcd/flux2 to v0.29.5
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release influxdb2 to v2.0.12
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release goldilocks to v6.1.2
  clusters/lovenet/core/monitoring/goldilocks/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.8.1510
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.33.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

disable-mopidy
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

add-rompr
  clusters/lovenet/apps/media/kustomization.yaml
  clusters/lovenet/apps/media/rompr/helm-release.yaml
  clusters/lovenet/apps/media/rompr/kustomization.yaml
  clusters/lovenet/apps/media/rompr/nfs-config.yaml
Labels: area/cluster

kodi-rompr-fix
  clusters/lovenet/apps/media/rompr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.34.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

remove-dev-snd-rompr
  clusters/lovenet/apps/media/rompr/helm-release.yaml
  clusters/lovenet/apps/media/rompr/nfs-config.yaml
Labels: area/cluster

enable-kodi-helm
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

fix(helm): update helm release sonarr to v16.1.1
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

remove-navidrome
  clusters/lovenet/apps/media/kustomization.yaml
  clusters/lovenet/apps/media/navidrome/helm-release.yaml
  clusters/lovenet/apps/media/navidrome/kustomization.yaml
  clusters/lovenet/apps/media/navidrome/nfs-config.yaml
Labels: area/cluster

clean-kodi-helm-mariadb
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

remove-space
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

kodidb-chart
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
  clusters/lovenet/apps/media/kodidb-helm/kustomization.yaml
  clusters/lovenet/apps/media/kodidb-helm/nfs-config.yaml
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

fix(container): update helm values b4bz/homer to 22.02.2
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.35.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix-kodidb-chart
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

remove-mariadb-form-kodi-helm
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

remove-mariadb-nfs
  clusters/lovenet/apps/media/kodi-helm/nfs-config.yaml
Labels: area/cluster

kodi-helm-longhorn
  clusters/lovenet/apps/media/kodi-helm/nfs-config.yaml
Labels: area/cluster

fix-kodi-helm-longhorn
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

enable-qbittorrent-rss
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

stringdata-to-data
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

mount-to-root
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

fix-path
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

feat(helm): update helm release common to v4.4.0
  charts/kah-common/Chart.lock
  charts/kah-common/Chart.yaml
Labels: none

feat(helm): update helm release common to v4.4.0
  charts/kah-common/Chart.lock
  charts/kah-common/Chart.yaml
Labels: none

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.8.1517
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.35.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
