Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.6.0
  .pre-commit-config.yaml
Labels: none

fix(container): update dependency ghcr.io/kube-vip/kube-vip to v0.4.3
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.28.5
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.16
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release prometheus-snmp-exporter to v1.0.1
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac-0/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.19.4
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kubernetes-dashboard to v5.4.1
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release home-assistant to v13
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release cert-manager to v1.8.0
  clusters/lovenet/core/cert-manager/helm-release.yaml
  clusters/lovenet/crds/cert-manager/kustomization.yaml
Labels: area/cluster

feat(helm)!: Update Helm release home-assistant to v13
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.12.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.7.1493
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release joplin-server to v5
  clusters/lovenet/apps/home/joplin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.17
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.26.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v34.9.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.26.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.6.1
  .pre-commit-config.yaml
Labels: none

feat(container): update helm values quay.io/influxdb/influxdb to v2.2.0
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

update-qbittorrent-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

qbittorrent-CAP_AUDIT_WRITE
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

qbittorrent-CAP_AUDIT_WRITE-2
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

qbittorrent-CAP_AUDIT_WRITE-3
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

wireguard-priv
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.2.0
  .pre-commit-config.yaml
Labels: none

wireguard-nft
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.14.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.7.1494
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.28.5
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release prometheus-snmp-exporter to v1.0.1
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac-0/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.19.4
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.26.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release home-assistant to v13
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(helm): update helm release prometheus-snmp-exporter to v1.0.1
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac-0/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.19.4
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.26.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release home-assistant to v13
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.28.5
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

update-schedule-renovate
  .github/workflows/schedule-renovate.yaml
Labels: area/github
