Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

kubeconform-onedr0p
  .github/workflows/kubeconform.yaml
Labels: area/github

Taskfile-onedr0p
  .envrc
  Taskfile.yml
Labels: none

chore(container): update image ghcr.io/onedr0p/qbittorrent to f4a1a5e
  clusters/lovenet/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/qbittorrent to f4a1a5e
  clusters/lovenet/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/radarr-develop to f5ef22e
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart pgadmin4 to 1.18.2
  clusters/lovenet/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.3
  clusters/lovenet/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 18.1.5
  clusters/lovenet/apps/databases/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook-ceph group to v1.12.5
  clusters/lovenet/apps/storage/rook-ceph/add-ons/direct-mount/deployment.yaml
  clusters/lovenet/apps/storage/rook-ceph/app/operator/helm-release.yaml
  clusters/lovenet/apps/storage/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

feat(container): update image quay.io/minio/minio to release.2023-10-07t15-07-38z
  clusters/lovenet/apps/storage/minio/app/helm-release.yaml
Labels: area/cluster

foo
  clusters/lovenet/apps/ai/k8sgpt/app/helm-release.yaml.disabled
  clusters/lovenet/apps/ai/k8sgpt/config/k8sgpt.yaml
Labels: area/cluster

enable-k8sgpt
  clusters/lovenet/apps/ai/k8sgpt/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.4.4030
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart nextcloud to 4.3.3
  clusters/lovenet/apps/home/nextcloud/app/helm-release.yaml
Labels: area/cluster

playlist-singular
  clusters/lovenet/apps/media/gonic/app/helm-release.yaml
Labels: area/cluster

fix(container): update image stashapp/stash to v0.23.1
  clusters/lovenet/apps/media/stash/app/helm-release.yaml
Labels: area/cluster

fix(container): update image quay.io/minio/minio to release.2023-10-14t05-17-22z
  clusters/lovenet/apps/storage/minio/app/helm-release.yaml
Labels: area/cluster

reloader-bjw-s
  clusters/lovenet/apps/kube-system/reloader/helm-release.yaml
Labels: area/cluster

radarr-app-template-2.0
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix-radarr
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

reloader-ks
  clusters/lovenet/apps/kube-system/kustomization.yaml
  clusters/lovenet/apps/kube-system/reloader/app/helm-release.yaml
  clusters/lovenet/apps/kube-system/reloader/app/kustomization.yaml
  clusters/lovenet/apps/kube-system/reloader/ks.yaml
Labels: area/cluster

disable-radarr
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-radarr"
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix-radarr
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

disable-radarr
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-radarr"
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix-radarr
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

disable-radarr
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-radarr"
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

lidarr-app-template-2.0
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

lidarr-30m
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

fix-lidarr
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

sonarr-app-template-2.0
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

disable-sonarr
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-sonarr"
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

disable-lidarr
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-lidarr"
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

fix-sonarr
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

gonic-app-template-2.0
  clusters/lovenet/apps/media/gonic/app/helm-release.yaml
Labels: area/cluster

zwave-app-template-2.0
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
