Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix(helm): update helm release grafana to v6.26.4
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

fix-feeds-json-secrets-tmpl
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

fix-feeds-json-secrets-tmpl
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.26.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release grafana to v6.26.4
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

reorder-helm-git
  clusters/lovenet/base/flux-system/charts/kustomization.yaml
Labels: area/cluster

Revert "remove-subpath"
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

remove-namespace-from-qbt-rss
  clusters/lovenet/apps/media/qbittorrent-rss/kustomization.yaml
Labels: area/cluster

cron-job-last
  clusters/lovenet/apps/media/qbittorrent-rss/kustomization.yaml
Labels: area/cluster

try-stringdata
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

test-with-empty-feeds
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

secret-data
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

update-cronjob
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

test
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.2.7
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release prowlarr to v4.3.0
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

format-helm-repos
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.7.2
  .pre-commit-config.yaml
Labels: none

fix(helm): update helm release loki to v2.11.1
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.26.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update dependency ghcr.io/kube-vip/kube-vip to v0.4.4
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.26.5
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(github-release): update dependency fluxcd/flux2 to v0.29.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(helm)!: Update Helm release phpmyadmin to v10
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release phpmyadmin to v10
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

try-projected-volume
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

remove-rwlove-charts-git-repo
  clusters/lovenet/base/flux-system/charts/kustomization.yaml
Labels: area/cluster

remove-qbittorrent-rss
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

Revert "remove-rwlove-charts-git-repo"
  clusters/lovenet/base/flux-system/charts/kustomization.yaml
Labels: area/cluster

add-path-to-kodi-helm
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

Revert "add-path-to-kodi-helm"
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.1
  .pre-commit-config.yaml
Labels: none

add-ignore
  clusters/lovenet/base/flux-system/charts/git/rwlove-charts.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.27.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release ingress-nginx to v4.1.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release metallb to v3
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.29.3
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
