Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

give-kodi-a-lb-ip
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
  clusters/lovenet/base/cluster-settings.yaml
  tmpl/cluster-settings.yaml
Labels: area/cluster

kodi-lb
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

Revert "kodi-lb"
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

bump-chart-version
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

fix-ingress-nginx
  clusters/lovenet/core/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

remove-kodi-secrets
  create-secrets.sh
Labels: none

fix(github-release): update rook-ceph-source to v1.10.7
  clusters/lovenet/crds/rook-ceph/crds.yaml
Labels: area/cluster

fix(helm): update rook-ceph group to v1.10.7
  clusters/lovenet/core/storage/rook-ceph/cluster/helm-release.yaml
  clusters/lovenet/core/storage/rook-ceph/operator/helm-release.yaml
  clusters/lovenet/core/storage/rook-ceph/rook-direct-mount/deployment.yaml
  clusters/lovenet/crds/rook-ceph/crds.yaml
Labels: area/cluster

fix(container): update image busybox to b366376
  clusters/lovenet/apps/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

fix(container): update image quay.io/minio/minio to release.2022-12-07t00-56-37z
  clusters/lovenet/apps/storage/minio/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to dfcacf1
  clusters/lovenet/apps/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.247
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to 3b3128d
  clusters/lovenet/apps/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v0.0.126
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

downloads-gateway-dependson
  clusters/lovenet/apps/downloads/qbittorrent/helm-release.yaml
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.255
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/authelia/authelia to v4.37.3
  clusters/lovenet/apps/authentication/authelia/helm-release.yaml
Labels: area/cluster

fix(helm): update chart metrics-server to 3.8.3
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 3.6.1
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update chart mariadb to 11.4.1
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.258
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(github-release): update traefik-crd-source to v20.8.0
  clusters/lovenet/crds/traefik/crds.yaml
Labels: area/cluster

feat(helm): update chart traefik to 20.8.0
  clusters/lovenet/core/network/traefik/helm-release.yaml
  clusters/lovenet/crds/traefik/crds.yaml
Labels: area/cluster

lidarr-traefik
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix-qbittorrent-new-depends-on
  clusters/lovenet/apps/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

move-prowlarr-sonarr-to-traefik
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

ingress-nginx-perms
  clusters/lovenet/core/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.53.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

Update helm-release.yaml
  clusters/lovenet/core/network/traefik/helm-release.yaml
Labels: area/cluster

Update crds.yaml
  clusters/lovenet/crds/traefik/crds.yaml
Labels: area/cluster

ingress-nginx-remove-priv
  clusters/lovenet/core/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.263
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

move-qbittrrent-rss-to-downloads
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/owncloud-ocis/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/media/whisparr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

move-qbittrrent-rss-to-downloads
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets-tmpl-sample.yaml
Labels: area/cluster

reflect-tls-to-downloads
  clusters/lovenet/apps/network/wildcard-certificate/certificate.yaml
Labels: area/cluster

lidarr-perms
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.265
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.269
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/owncloud-ocis/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/media/whisparr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster
