Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/taskfile, area/kubernetes

.github/labeler.yaml:

---
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*

fix-lint
  .ci/jscpd/jscpd.json
  .ci/prettier/.prettierignore
  .ci/prettier/.prettierrc.yaml
  .ci/scripts/extract-images.mjs
  .ci/yamllint/.yamllint.yaml
  .github/linters/.prettierignore
Labels: area/github

remove-github-scripts
  .github/scripts/cloudflareNetworks.mjs
  .github/scripts/helmReleaseDiff.mjs
  .github/scripts/kubeconform.sh
Labels: area/github

sync-taskfiles-to-bjw-s
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Tasks.yml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/externalsecrets/Taskfile.yaml
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  Taskfile.yml
Labels: area/taskfile

cleanup-github-sync-bjs
  .github/CODEOWNERS
  .github/labels.yaml
  .github/markdownlint.config.yaml
  .github/renovate-bot.json5
Labels: area/github

fully-disable-autobrr
  kubernetes/main/apps/downloads/kustomization.yaml.disabled
Labels: area/kubernetes

Revert "fully-disable-autobrr"
  kubernetes/main/apps/downloads/kustomization.yaml
Labels: area/kubernetes

fully-disable-qbt
  kubernetes/main/apps/downloads/qbittorrent/ks.yaml.disabled
Labels: area/kubernetes

fully-disable-autobrr
  kubernetes/main/apps/downloads/autobrr/ks.yaml.disabled
Labels: area/kubernetes

enable-lidarr
  kubernetes/main/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

enable-lidarr
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes

remove-stash
  kubernetes/main/apps/media/stash/app/helm-release.yaml.disabled
  kubernetes/main/apps/media/stash/app/kustomization.yaml
  kubernetes/main/apps/media/stash/app/longhorn-pvc.yaml
  kubernetes/main/apps/media/stash/app/nfs-pvc.yaml
  kubernetes/main/apps/media/stash/ks.yaml
Labels: area/kubernetes

fix-scripts
  .ci/jscpd/jscpd.json
Labels: none

remove-ytdl
  kubernetes/main/apps/media/youtube-dl/app/helm-release.yaml.disabled
  kubernetes/main/apps/media/youtube-dl/app/kustomization.yaml
  kubernetes/main/apps/media/youtube-dl/app/longhorn-pvc.yaml
  kubernetes/main/apps/media/youtube-dl/app/nfs-pvc.yaml
  kubernetes/main/apps/media/youtube-dl/ks.yaml
Labels: area/kubernetes

reomve-invalid-ks
  kubernetes/main/apps/network/nginx/internal/ks.yaml
Labels: area/kubernetes

fix-flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

remove-prom-crds
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/base/apps.yaml
  kubernetes/main/base/crds.yaml
  kubernetes/main/crds/kube-prometheus-stack/crds.yaml
  kubernetes/main/crds/kube-prometheus-stack/kustomization.yaml
  kubernetes/main/crds/kustomization.yaml
Labels: area/kubernetes

enable-vscode
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

home-assistat-config-only
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Revert "home-assistat-config-only"
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

disable-hass
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-hass"
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Revert "enable-vscode"
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

enable-chatgpt
  kubernetes/main/apps/ai/kustomization.yaml
Labels: area/kubernetes

fix-secret
  kubernetes/main/apps/ai/chatgpt/app/helmrelease.yaml
Labels: area/kubernetes

enable-immich
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes

change-postgres-db
  kubernetes/main/apps/databases/cloudnative-pg/config/cluster.yaml
Labels: area/kubernetes

disable-immich-server
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-server"
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

add-gh-safe-settings
  kubernetes/main/apps/dev/actions-runner-controller/ks.yaml
  kubernetes/main/apps/dev/gh-safe-settings/app/config/deployment-settings.yml
  kubernetes/main/apps/dev/gh-safe-settings/app/externalsecret.yaml
  kubernetes/main/apps/dev/gh-safe-settings/app/helmrelease.yaml
  kubernetes/main/apps/dev/gh-safe-settings/app/kustomization.yaml
  kubernetes/main/apps/dev/gh-safe-settings/ks.yaml
  kubernetes/main/apps/dev/kustomization.yaml
Labels: area/kubernetes

move-actions-runner
  kubernetes/main/apps/dev/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/kustomization.yaml
  kubernetes/main/apps/dev/actions-runner-controller/ks.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/dev/namespace.yaml
  kubernetes/main/apps/kustomization.yaml
Labels: area/kubernetes

app-to-operator
  kubernetes/main/apps/dev/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/kustomization.yaml
  kubernetes/main/apps/dev/actions-runner-controller/ks.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/externalsecret.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/kustomization.yaml
Labels: area/kubernetes

sync-runner-to-bjws
  kubernetes/main/apps/dev/actions-runner-controller/runners/assets.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/home-ops.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/main/apps/dev/actions-runner-controller/ks.yaml
  kubernetes/main/apps/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/main/apps/dev/gh-safe-settings/ks.yaml
Labels: area/kubernetes

add-chart
  kubernetes/main/base/flux-system/charts/helm/actions-runner-controller.yaml
  kubernetes/main/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/main/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

enable-nextcloud
  kubernetes/main/apps/home/kustomization.yaml
Labels: area/kubernetes

fix-gh_safe_settings
  kubernetes/main/apps/dev/gh-safe-settings/app/externalsecret.yaml
Labels: area/kubernetes

Revert "enable-nextcloud"
  kubernetes/main/apps/home/kustomization.yaml
Labels: area/kubernetes

shared_preload_libraries
  kubernetes/main/apps/databases/cloudnative-pg/config/cluster.yaml
Labels: area/kubernetes
