Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/taskfile, area/kubernetes

fix-grafana-dashboard
  kubernetes/main/apps/databases/cloudnative-pg/app/dashboard/kustomization.yaml
Labels: area/kubernetes

remove-lldap-gatus
  kubernetes/main/apps/auth/lldap/app/gatus.yaml
  kubernetes/main/apps/auth/lldap/app/kustomization.yaml
Labels: area/kubernetes

smtp-lldap
  kubernetes/main/apps/auth/lldap/app/helmrelease.yaml
Labels: area/kubernetes

update-grafana
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

categories
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

org-dash-add-new
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

org-dash-add-new
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix-path
  .github/workflows/flux-hr-image-test.yaml
  kubernetes/main/apps/monitoring/netdata/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix-path
  .github/workflows/flux-diff.yaml
Labels: area/github

prom-speedtest
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix-flux-grafana
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes

move-thanos-dashboards
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
Labels: area/kubernetes

longhorn-dashboard
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix-dashboards
  kubernetes/main/apps/databases/cloudnative-pg/app/dashboard/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/storage/rook-ceph/add-ons/dashboard/ceph-cluster-dashboard.json
  kubernetes/main/apps/storage/rook-ceph/add-ons/dashboard/kustomization.yaml
  kubernetes/main/apps/storage/rook-ceph/add-ons/kustomization.yaml
Labels: area/kubernetes

fix-dashboards
  kubernetes/main/apps/storage/rook-ceph/add-ons/dashboard/ceph-osd-dashboard.json
  kubernetes/main/apps/storage/rook-ceph/add-ons/dashboard/ceph-pools-dashboard.json
Labels: area/kubernetes

fix-dashboards
  kubernetes/main/apps/cert-manager/dashboard/kustomization.yaml
Labels: area/kubernetes

fix-datasource
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix-netdata-annotation
  kubernetes/main/apps/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes

grafana-image-renderer
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

add-plugins-fix-render
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix-redis-prometheus
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix-ingress
  kubernetes/main/apps/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes

disable-redis-dash
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

flux-local-test
  .github/workflows/flux-hr-image-test.yaml
Labels: area/github

flux-local-test
  .github/workflows/flux-diff.yaml
Labels: area/github

fix-flux-local-test
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
Labels: area/github

fix-flux-local-test
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
Labels: area/github

Revert "feat(github-action)!: Update allenporter/flux-local action to 4.3.1 (#5433)"
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
Labels: area/github

remove-flux-local-debug
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
Labels: area/github

Revert "remove-flux-local-debug"
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
Labels: area/github

update-flux2
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
Labels: area/github

.github/labeler.yaml:

---
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
