Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

zwavejs2mqtt-longhorn
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/nfs-config.yaml
Labels: area/cluster

longhorn-static-zwavejs2mqtt
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

Revert "longhorn-static-zwavejs2mqtt"
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

Revert "remove-zwavejs2mqtt-pvc"
  clusters/lovenet/apps/home/zwavejs2mqtt/kustomization.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/nfs-config.yaml
Labels: area/cluster

fix-zwavejs2mqtt-longhorn
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix-youtubedl-longhorn
  clusters/lovenet/apps/media/youtube-dl/nfs-config.yaml
Labels: area/cluster

youtubedl-config-size
  clusters/lovenet/apps/media/youtube-dl/helm-release.yaml
Labels: area/cluster

mqtt-grafana-dashboard
  clusters/lovenet/apps/home/mosquitto/dashboard/dashboard.json
  clusters/lovenet/apps/home/mosquitto/dashboard/kustomization.yaml
  clusters/lovenet/apps/home/mosquitto/kustomization.yaml
Labels: area/cluster

Revert "mqtt-grafana-dashboard"
  clusters/lovenet/apps/home/mosquitto/dashboard/dashboard.json
  clusters/lovenet/apps/home/mosquitto/dashboard/kustomization.yaml
  clusters/lovenet/apps/home/mosquitto/kustomization.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.7.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update helm release qbittorrent to v13.3.0
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release radarr to v16.1.0
  clusters/lovenet/apps/media/radarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release sonarr to v16.1.0
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release bazarr to v10.4.0
  clusters/lovenet/apps/media/bazarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release qbittorrent to v13.3.0
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release radarr to v16.1.0
  clusters/lovenet/apps/media/radarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release sonarr to v16.1.0
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.25.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.26.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update aquasecurity/trivy-action action to v0.2.5
  .github/workflows/scan-containers.yaml
Labels: area/github

qbittorrent-rss-cron-job
  clusters/lovenet/apps/media/kustomization.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/kustomization.yaml
Labels: area/cluster

qbittorrent-rss-use-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/kustomization.yaml
Labels: area/cluster

qbittorrent-rss-use-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/kustomization.yaml
  create-secrets.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix-cronjob-syntax
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

add-cronjob-label
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

fix-cronjob-frequency
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

remove-private-repo-qbittorrent-rss
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

increase-cron-job-frequency
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

change-secret-format
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-cron-url
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

update-cron-mountpath
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

update-feeds-json-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

try-subpath
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

try-one-secret-file
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
