Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix-prowlarr
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release ingress-nginx to v4.1.2
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

update-starboard
  clusters/lovenet/core/starboard-system/starboard-operator/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release vaultwarden to v4.2.3
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.8.1523
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.64.9
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(container): update helm values ghcr.io/zwave-js/zwavejs2mqtt to 6.10.0
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix-radarr
  clusters/lovenet/apps/media/radarr/helm-release.yaml
Labels: area/cluster

fix-nut-server
  clusters/lovenet/core/monitoring/nut-server/helm-release.yaml
Labels: area/cluster

feat(container): update helm values jakowenko/double-take to 1.10.0
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

add-nut-port
  clusters/lovenet/core/monitoring/nut-server/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook k8s-at-home/sops-pre-commit to v2.1.1
  .pre-commit-config.yaml
Labels: none

feat(github-action): update renovatebot/github-action action to v32.66.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.66.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.66.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release mariadb to v11.0.8
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.20.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.5
  .pre-commit-config.yaml
Labels: none

influxdb-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix-influxdb-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix-influxdb-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix-influxdb-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix-influxdb-persistence
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.66.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values jakowenko/double-take to 1.10.1
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

fix(container): update helm values jakowenko/double-take to 1.10.1
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.66.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

influxdb-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

influxdb-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.4
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

influxdb-nginx-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.29.5
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.4.5
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.4.5
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release reloader to v0.0.112
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.66.5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

influxdb-nginx-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

influxdb-nginx-ingress
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix(container): update helm values jakowenko/double-take to 1.10.1
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
