Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/taskfile, area/kubernetes

fix-dep
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/ks.yaml
Labels: area/kubernetes

disable-cloudflared
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-cloudflared"
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix-dep
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/ks.yaml
Labels: area/kubernetes

disable-immich-set
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/typesense/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-set"
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

disable-immich-set
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/typesense/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-set"
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

disable-immich-set
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/typesense/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-set"
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

increase-jellyfin-memory
  kubernetes/main/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix-nut-prometheusrule
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/prometheusrule.yaml
Labels: area/kubernetes

fix-immich
  kubernetes/main/apps/media/immich/app/configmap.yaml
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

disable-immich-set
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml.disabled
  kubernetes/main/apps/media/immich/app/typesense/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-set"
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

fix-immich-typesense
  kubernetes/main/apps/media/immich/app/configmap.yaml
Labels: area/kubernetes

disable-thanos
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-thanos"
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix-prometheusdown
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix-immich-rennovate
  .github/renovate/groups.json5
Labels: area/github

fix-prometheusdown
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix-prometheusdown
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

try-to-fix-prometheus
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

revert-node-relabel
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Revert "try-to-fix-prometheus"
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

disable-localai
  kubernetes/main/apps/ai/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

add-ollama
  kubernetes/main/apps/ai/kustomization.yaml
  kubernetes/main/apps/ai/ollama/backend/helmrelease.yaml
  kubernetes/main/apps/ai/ollama/backend/kustomization.yaml
  kubernetes/main/apps/ai/ollama/ks.yaml
  kubernetes/main/apps/ai/ollama/ui/helmrelease.yaml
  kubernetes/main/apps/ai/ollama/ui/kustomization.yaml
  kubernetes/main/apps/home/frigate/app/helmrelease.yaml
  kubernetes/main/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

disable-ollama
  kubernetes/main/apps/ai/kustomization.yaml
Labels: area/kubernetes

remove-asset-runners
  kubernetes/main/apps/dev/actions-runner-controller/runners/assets.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes

fix-notification-controller
  kubernetes/main/apps/flux-system/addons/webhook/github/receiver.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: area/docs

Revert "feat(helm): update chart redis to 18.11.0 (#5397)"
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart cilium to 1.15.0 (#5406)"
  bootstrap/cilium-quick-install/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

disable-redis
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-redis"
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

disable-redis
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-redis"
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart redis to 18.11.0 (#5407)"
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

disable-redis
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-redis"
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
