Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix(github-action): update lycheeverse/lychee-action action to v1.2.1
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

feat(helm): update helm release metrics-server to v3.8.0
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release influxdb2 to v2.0.9
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix-bot-username
  .github/workflows/helm-release-differ.yaml
Labels: area/github

fix(helm): update helm release influxdb2 to v2.0.9
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.69.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v31.70.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release pihole to v2.5.6
  clusters/lovenet/apps/network/pihole/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v32.0.3
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v32.1.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v32.1.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(container): update ghcr.io/kube-vip/kube-vip docker tag to v0.4.2
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(helm): update helm release descheduler to v0.23.1
  clusters/lovenet/core/kube-system/descheduler/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.14.1
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release metrics-server to v3.8.1
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.71.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release kube-prometheus-stack to v32.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.72.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release nfs-subdir-external-provisioner to v4.0.16
  clusters/lovenet/core/kube-system/nfs-client-provisioner/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release nfs-subdir-external-provisioner to v4.0.16
  clusters/lovenet/core/kube-system/nfs-client-provisioner/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.73.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release grafana to v6.21.3
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.26.3
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.26.3
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.74.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.12
  .pre-commit-config.yaml
Labels: none

feat(container)!: Update b4bz/homer Docker tag to 22.02.1
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.21.4
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.77.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(container): update ekofr/pihole-exporter docker tag to v0.2.0
  clusters/lovenet/apps/network/pihole/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.78.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release grafana to v6.21.5
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

update-workflows
  .github/workflows/helm-release-differ.yaml
  .github/workflows/megalinter.yaml
Labels: area/github

update-pre-commit
  .pre-commit-config.yaml
Labels: none

feat(github-action): update lycheeverse/lychee-action action to v1.3.0
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

update-nginx-ingress
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
  tmpl/cluster-settings.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

add-cloudflare-proxied-networks
  clusters/lovenet/apps/network/ingress-nginx/cloudflare-proxied-networks.txt
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.79.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release external-dns to v6.1.5
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
