Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix-paths
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
  .github/workflows/schedule-flux-update.yaml
Labels: area/github

fix-grafana-lint
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.1.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v30.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

helm-10m-interval
  clusters/lovenet/base/flux-system/charts/helm/descheduler-charts.yaml
  clusters/lovenet/base/flux-system/charts/helm/emberstack-charts.yaml
  clusters/lovenet/base/flux-system/charts/helm/ingress-nginx-charts.yaml
  clusters/lovenet/base/flux-system/charts/helm/k8s-gateway-charts.yaml
  clusters/lovenet/base/flux-system/charts/helm/metrics-server-charts.yaml
Labels: area/cluster

update-renovate-json
  .github/renovate.json5
Labels: area/github

fix(helm): update helm release external-dns to v6.1.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v30.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix-grafana-lint
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.1.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v30.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix-grafana-lint
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix-lint-script
  lint.sh
Labels: none

fix-lint
  clusters/lovenet/core/monitoring/kustomization.yaml
  clusters/lovenet/core/monitoring/notification-controller/kustomization.yaml
  clusters/lovenet/core/notifications/github/kustomization.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/base/apps.yaml
  clusters/lovenet/base/flux-system/gotk-patches.yaml
  clusters/lovenet/base/flux-system/kustomization.yaml
  clusters/lovenet/core/longhorn/kustomization.yaml
  clusters/lovenet/core/metallb/kustomization.yaml
  clusters/lovenet/core/monitoring/influxdb/kustomization.yaml
  clusters/lovenet/core/monitoring/loki/kustomization.yaml
  clusters/lovenet/core/monitoring/source-controller/podmonitor.yaml
  clusters/lovenet/core/notifications/github/notification.yaml
  clusters/lovenet/core/notifications/kustomization.yaml
  clusters/lovenet/crds/external-dns/crds.yaml
  clusters/lovenet/crds/external-dns/kustomization.yaml
  clusters/lovenet/crds/kube-prometheus-stack/kustomization.yaml
  clusters/lovenet/crds/kustomization.yaml
  clusters/lovenet/crds/traefik/kustomization.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/core/kube-system/kube-vip/rbac.yaml
  clusters/lovenet/core/kube-system/metrics-server/kustomization.yaml
  clusters/lovenet/core/kube-system/nfs-client-provisioner/kustomization.yaml
  clusters/lovenet/core/kube-system/node-feature-discovery/kustomization.yaml
  clusters/lovenet/core/kube-system/vpa/kustomization.yaml
  clusters/lovenet/core/monitoring/calico-system/felix-metrics/kustomization.yaml
  clusters/lovenet/core/monitoring/calico-system/kustomization.yaml
  clusters/lovenet/core/monitoring/calico-system/typha-metrics/kustomization.yaml
  clusters/lovenet/core/monitoring/notification-controller/podmonitor.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/apps/media/airsonic/kustomization.yaml
  clusters/lovenet/apps/media/kustomization.yaml
  clusters/lovenet/apps/media/youtube-dl/kustomization.yaml
Labels: area/cluster

bases-to-resources
  clusters/lovenet/apps/flux-system/kustomization.yaml
  clusters/lovenet/apps/flux-system/webhook/kustomization.yaml
  clusters/lovenet/apps/home/kustomization.yaml
  clusters/lovenet/apps/kustomization.yaml
  clusters/lovenet/apps/media/kustomization.yaml
  clusters/lovenet/apps/network/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/kustomization.yaml
  clusters/lovenet/base/flux-system/kustomization.yaml
  clusters/lovenet/core/kube-system/kustomization.yaml
  clusters/lovenet/core/kustomization.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/apps/flux-system/webhook/kustomization.yaml
  clusters/lovenet/apps/kustomization.yaml
  clusters/lovenet/apps/network/dnsutils/dnsutils.yaml
  clusters/lovenet/apps/network/dnsutils/kustomization.yaml
  clusters/lovenet/apps/network/internal-dns/kustomization.yaml
  clusters/lovenet/apps/network/k8s_gateway/kustomization.yaml
  clusters/lovenet/apps/network/kustomization.yaml
  clusters/lovenet/apps/network/omada/kustomization.yaml
  clusters/lovenet/apps/network/pihole/kustomization.yaml
  clusters/lovenet/apps/network/traefik/dashboard/kustomization.yaml
  clusters/lovenet/apps/network/traefik/kustomization.yaml
  clusters/lovenet/apps/network/traefik/middlewares/kustomization.yaml
  clusters/lovenet/apps/network/traefik/middlewares/omada.yaml
  clusters/lovenet/apps/network/traefik/middlewares/redirect-path.yaml
  clusters/lovenet/apps/network/traefik/middlewares/rfc1918.yaml
  clusters/lovenet/apps/network/traefik/service-monitor.yaml
  clusters/lovenet/apps/network/traefik/tls-store/kustomization.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.1.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v30.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.65.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release external-dns to v6.1.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v30.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.13.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.1.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v30.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.13.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

chore(github-action): update flux components to v0.26.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

update-charts-file-name
  clusters/lovenet/base/flux-system/charts/helm/kubernetes-dashboard-charts.yaml
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/helm/traefik-charts.yaml
Labels: area/cluster

fix-rosey-the-renovator-bot
  .github/renovate.json5
Labels: area/github

fix(helm): update helm release external-dns to v6.1.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.21.2
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v30.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.13.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v31.65.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm)!: Update Helm release kube-prometheus-stack to v31
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v31.66.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update aquasecurity/trivy-action action to v0.2.2
  .github/workflows/scan-containers.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v31.66.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
