Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

disable-grafana
  clusters/lovenet/apps/monitoring/grafana/app/externalsecret.yaml.disabled
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-grafana"
  clusters/lovenet/apps/monitoring/grafana/app/externalsecret.yaml
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Revert "Revert "disable-grafana""
  clusters/lovenet/apps/monitoring/grafana/app/externalsecret.yaml.disabled
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "Revert "Revert "disable-grafana"""
  clusters/lovenet/apps/monitoring/grafana/app/externalsecret.yaml
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

rename-grafana-secret
  clusters/lovenet/apps/monitoring/grafana/app/externalsecret.yaml
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

disable-grafana
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml.disabled
Labels: area/cluster

disable-grafana-external-secrets
  clusters/lovenet/apps/monitoring/grafana/app/externalsecret.yaml.disabled
Labels: area/cluster

Revert "disable-grafana-external-secrets"
  clusters/lovenet/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/cluster

Revert "disable-grafana"
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix-dashboards
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

disable-localai
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-localai"
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml
Labels: area/cluster

Revert "chore(container): update image ghcr.io/authelia/authelia to 8f4155a (#4668)"
  clusters/lovenet/apps/auth/authelia/app/helm-release.yaml
Labels: area/cluster

authelia-ks
  clusters/lovenet/apps/auth/authelia/ks.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/app/externalsecret.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/app/kustomization.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/cluster.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/kustomization.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets-tmpl.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
Labels: area/cluster

chore(deps): update actions/checkout digest to b4ffde6
  .github/workflows/lint.yaml
Labels: area/github

fix(helm): update chart nextcloud to 4.3.5
  clusters/lovenet/apps/home/nextcloud/app/helm-release.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/apps/ai/chatbot-ui/app/helm-release.yaml
Labels: area/cluster

move-prowlarr-secret
  clusters/lovenet/apps/media/prowlarr/app/externalsecret.yaml
Labels: area/cluster

sabnzbd-external-secrets
  clusters/lovenet/apps/media/sabnzbd/app/externalsecret.yaml
  clusters/lovenet/apps/media/sabnzbd/app/kustomization.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets-tmpl.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets.yaml
  create-secrets.sh
Labels: area/cluster

fix-deps
  clusters/lovenet/apps/media/sabnzbd/app/externalsecret.yaml
  clusters/lovenet/apps/media/sabnzbd/ks.yaml
Labels: area/cluster

pgadmin-external-secrets
  clusters/lovenet/apps/databases/pgadmin/app/externalsecret.yaml
  clusters/lovenet/apps/databases/pgadmin/app/helm-release.yaml
  clusters/lovenet/apps/databases/pgadmin/app/kustomization.yaml
  clusters/lovenet/apps/databases/pgadmin/app/secrets-tmpl.yaml
  clusters/lovenet/apps/databases/pgadmin/app/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/ks.yaml
  create-secrets.sh
Labels: area/cluster

fix-external-secrets-deps
  clusters/lovenet/apps/media/sabnzbd/ks.yaml
Labels: area/cluster

fix-sabnzbd-healthcheck
  clusters/lovenet/apps/media/sabnzbd/ks.yaml
Labels: area/cluster

change-password-key
  clusters/lovenet/apps/databases/pgadmin/app/externalsecret.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.32.0
  clusters/lovenet/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

remove-cnpg-create-secrets
  create-secrets.sh
Labels: none

nextcloud-external-secrets
  clusters/lovenet/apps/home/nextcloud/app/externalsecret.yaml
  clusters/lovenet/apps/home/nextcloud/app/helm-release.yaml
  clusters/lovenet/apps/home/nextcloud/app/kustomization.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets-tmpl.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/ks.yaml
  create-secrets.sh
Labels: area/cluster

vector-external-secrets
  clusters/lovenet/apps/monitoring/vector/aggregator/externalsecret.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/secrets-tmpl.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/secrets.yaml
  clusters/lovenet/apps/monitoring/vector/ks.yaml
  create-secrets.sh
Labels: area/cluster

fix-vector
  clusters/lovenet/apps/monitoring/vector/aggregator/kustomization.yaml
Labels: area/cluster

vikunja-external-secrets
  clusters/lovenet/apps/collab/vikunja/app/externalsecret.yaml
  clusters/lovenet/apps/collab/vikunja/app/helm-release.yaml
  clusters/lovenet/apps/collab/vikunja/app/kustomization.yaml
  clusters/lovenet/apps/collab/vikunja/app/patches/postgres.yaml
  clusters/lovenet/apps/collab/vikunja/app/secrets-tmpl.yaml
  clusters/lovenet/apps/collab/vikunja/app/secrets.yaml
Labels: area/cluster

smtp-relay-external-secrets
  clusters/lovenet/apps/home/smtp-relay/app/externalsecret.yaml
  clusters/lovenet/apps/home/smtp-relay/app/helm-release.yaml
  clusters/lovenet/apps/home/smtp-relay/app/kustomization.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets-tmpl.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/ks.yaml
  create-secrets.sh
Labels: area/cluster

chore(container): update image ghcr.io/autobrr/autobrr to 210c01d
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 7.3.1
  clusters/lovenet/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

double-take-external-secrets
  clusters/lovenet/apps/home/double-take/app/externalsecret.yaml
  clusters/lovenet/apps/home/double-take/app/helm-release.yaml
  clusters/lovenet/apps/home/double-take/app/kustomization.yaml
  clusters/lovenet/apps/home/double-take/app/secrets-tmpl.yaml
  clusters/lovenet/apps/home/double-take/app/secrets.yaml
  clusters/lovenet/apps/home/double-take/ks.yaml
  create-secrets.sh
Labels: area/cluster

mqtt-external-secrets
  clusters/lovenet/apps/home/emqx/app/externalsecret.yaml
  clusters/lovenet/apps/home/emqx/app/helm-release.yaml
  clusters/lovenet/apps/home/emqx/app/kustomization.yaml
  clusters/lovenet/apps/home/emqx/app/secrets-tmpl.yaml
  clusters/lovenet/apps/home/emqx/app/secrets.yaml
  clusters/lovenet/apps/home/emqx/ks.yaml
  create-secrets.sh
Labels: area/cluster

frigate-external-secrets
  clusters/lovenet/apps/home/frigate/app/externalsecret.yaml
  clusters/lovenet/apps/home/frigate/app/helm-release.yaml
  clusters/lovenet/apps/home/frigate/app/kustomization.yaml
  clusters/lovenet/apps/home/frigate/app/secrets-tmpl.yaml
  clusters/lovenet/apps/home/frigate/app/secrets.yaml
  clusters/lovenet/apps/home/frigate/ks.yaml
  create-secrets.sh
Labels: area/cluster

fix-frigate
  clusters/lovenet/apps/home/frigate/app/helm-release.yaml
Labels: area/cluster

disable-frigate
  clusters/lovenet/apps/home/frigate/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-frigate"
  clusters/lovenet/apps/home/frigate/app/helm-release.yaml
Labels: area/cluster
