Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore(github-action): update cloudflare proxied networks
  clusters/lovenet/apps/network/ingress-nginx/cloudflare-proxied-networks.txt
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.7.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metrics-server to v3.8.2
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.13
  .pre-commit-config.yaml
Labels: none

fix(github-release): update dependency fluxcd/flux2 to v0.27.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9098.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.6
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release pihole to v2.5.7
  clusters/lovenet/apps/network/pihole/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v32.3.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm release vpa to v1.2.1
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release vpa to v1.2.2
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9099.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v32.4.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

chore(github-action): update cloudflare proxied networks
  clusters/lovenet/apps/network/ingress-nginx/cloudflare-proxied-networks.txt
Labels: area/cluster

feat(helm)!: Update Helm release kube-prometheus-stack to v33
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm)!: Update Helm release kube-prometheus-stack to v33
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9101.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

fix(container): update dependency mariadb to 10.7.3
  clusters/lovenet/apps/media/kodidb/deployment.yaml
Labels: area/cluster

feat(container): update dependency mariadb to 10.8.2
  clusters/lovenet/apps/media/kodidb/deployment.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.6.1471
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release reloader to v0.0.106
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.7
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.22.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release kube-prometheus-stack to v33
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.1.7
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.1.7
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release reloader to v0.0.108
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.6.1475
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release pihole to v2.5.8
  clusters/lovenet/apps/network/pihole/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v33.1.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm release descheduler to v0.23.2
  clusters/lovenet/core/kube-system/descheduler/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release descheduler to v0.23.2
  clusters/lovenet/core/kube-system/descheduler/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.23.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.23.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.27.3
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(github-action): update lycheeverse/lychee-action action to v1.3.2
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

fix(github-release): update dependency fluxcd/flux2 to v0.27.3
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.8
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update actions/labeler action to v4
  .github/workflows/meta-labeler.yml
Labels: area/github

fix(helm): update helm release external-dns to v6.1.8
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster
