Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(helm): update chart k8sgpt-operator to 0.0.26
  clusters/lovenet/apps/ai/k8sgpt/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 3d94c6a
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook-ceph group to v1.12.9
  clusters/lovenet/apps/storage/rook-ceph/add-ons/direct-mount/deployment.yaml
  clusters/lovenet/apps/storage/rook-ceph/app/operator/helm-release.yaml
  clusters/lovenet/apps/storage/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update chart kube-prometheus-stack to 55.0.0
  clusters/lovenet/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.4
  clusters/lovenet/apps/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(helm): update chart nextcloud to 4.5.5
  clusters/lovenet/apps/home/nextcloud/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/angelnu/gateway-admision-controller to v3.10.0
  clusters/lovenet/apps/network/downloads-gateway/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/autobrr/autobrr to fd1d9b3
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/sabnzbd to 7d2eef3
  clusters/lovenet/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.28.4
  clusters/lovenet/apps/network/cloudflare-ddns/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.5.3813
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.2
  clusters/lovenet/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.733
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.3.8303
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image syncthing/syncthing to v1.27.0
  clusters/lovenet/apps/collab/syncthing/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to d4c47cb
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart influxdb2 to 2.1.2
  clusters/lovenet/apps/databases/influxdb/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/angelnu/pod-gateway to v1.10.0
  clusters/lovenet/apps/network/downloads-gateway/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/angelnu/cni-plugins to v1.4.0
  clusters/lovenet/apps/network/multus/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to f17cfe0
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update flux group to v1.2.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(github-action): update image ghcr.io/bjw-s/mdbook to v0.4.36
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 2c346bb
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.1.4142
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image netdata/netdata to v1.44.0
  clusters/lovenet/apps/monitoring/netdata/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.12.0
  clusters/lovenet/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image gha-runner-scale-set to v0.7.0
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

feat(container): update image gha-runner-scale-set-controller to v0.7.0
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart thanos to 12.16.2
  clusters/lovenet/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart netdata to 3.7.78
  clusters/lovenet/apps/monitoring/netdata/app/helm-release.yaml
Labels: area/cluster

remove-broken-link
  README.md
Labels: none

fix(container): update image docker.io/nodered/node-red to v3.1.3
  clusters/lovenet/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to 89f8473
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update flux group to v1.2.1
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to v16
  clusters/lovenet/apps/auth/authelia/app/helm-release.yaml
  clusters/lovenet/apps/auth/lldap/app/helm-release.yaml
  clusters/lovenet/apps/collab/vikunja/app/helm-release.yaml
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
  clusters/lovenet/apps/home/home-assistant/app/helm-release.yaml
  clusters/lovenet/apps/home/nextcloud/app/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to e3df8bb
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.1.4143
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.90.2
  clusters/lovenet/apps/media/immich/app/machine-learning/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
