Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

move-prowlarr
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml-mv
Labels: area/cluster

Revert "move-prowlarr"
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

rook-ceph
  clusters/lovenet/core/storage/rook-ceph/cluster/helm-release.yaml
  clusters/lovenet/core/storage/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

remove-loki-limits
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

vikunja-resources
  clusters/lovenet/apps/collab/vikunja/helm-release.yaml
Labels: area/cluster

loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

Revert "loki"
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update chart metrics-server to 3.8.4
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

feat(helm): update chart pod-gateway to 6.5.0
  clusters/lovenet/core/downloads-gateway/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.6.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update chart reloader to v1.0.12
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

frigate-app-template
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

frigate-remove-usb-block
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

fix(container): update vector group
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

remove-frigate-secret
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

frigate-permissions
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

frigate-apex-mount
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

frigate-re-add-data-persistence
  clusters/lovenet/apps/home/frigate/helm-release.yaml
  clusters/lovenet/apps/home/frigate/longhorn-pvc.yaml
  clusters/lovenet/apps/home/frigate/nfs-pvc.yaml
Labels: area/cluster

update-script
  tools/replace-and-apply-pvc.sh
Labels: none

remove-frigate-data
  clusters/lovenet/apps/home/frigate/helm-release.yaml
  clusters/lovenet/apps/home/frigate/kustomization.yaml
  clusters/lovenet/apps/home/frigate/longhorn-pvc.yaml
Labels: area/cluster

fix(helm): update chart mariadb to 11.5.2
  clusters/lovenet/apps/media/kodidb-nexus/helm-release.yaml
Labels: area/cluster

frigate-resources
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

frigate-resources
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

decrease-frigate-cpu
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

update-renovate-onedr0p
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/workflows/broken-link-check.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/megalinter.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
  .github/workflows/schedule-library-chart-update.yaml
  .github/workflows/schedule-link-checker.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/github

github-scripts
  .github/scripts/cloudflare-proxied-networks.sh
  .github/scripts/cloudflareNetworks.mjs
  .github/scripts/container-parser.sh
  .github/scripts/helm-release-differ.sh
  .github/scripts/helmReleaseDiff.mjs
  .github/scripts/kubeconform.sh
  .github/scripts/lib/functions.sh
Labels: area/github

remove-linters
  .github/PAUL.yaml
  .github/linters/.ansible-lint
  .github/linters/.markdownlint.yaml
  .github/linters/.prettierignore
  .github/linters/.prettierrc.yaml
  .github/linters/.tflint.hcl
  .github/linters/.yamllint.yaml
Labels: area/github

move-frigate
  .github/workflows/renovate.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml.disabled
Labels: area/github, area/cluster

Revert "move-frigate"
  .github/workflows/renovate.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/github, area/cluster

debug-loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

move-loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml.disabled
Labels: area/cluster

Revert "move-loki"
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

loki-write-replica-1
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/monitoring/statping/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/social-media/mastodon/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

add-gpu-plugin
  clusters/lovenet/core/kube-system/intel-gpu-plugin/helm-release.yaml
  clusters/lovenet/core/kube-system/intel-gpu-plugin/kustomization.yaml
  clusters/lovenet/core/kube-system/kustomization.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/monitoring/statping/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/social-media/mastodon/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-frigate-conf
  clusters/lovenet/apps/home/frigate/config.yaml
Labels: area/cluster

frigate-intel-gpu
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

remove-intel-dependency
  clusters/lovenet/apps/home/frigate/config.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster
