Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/taskfile, area/kubernetes

.github/labeler.yaml:

---
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*

fix-charts
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix-ml
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

fix-web
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix-web
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix-web
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

disable-immich-web
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-web"
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

disable-immich-web
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-web"
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

disable-immich-machine-learning
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-machine-learning"
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

fix-web
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

remove-immich-web
  kubernetes/main/apps/media/immich/app/kustomization.yaml
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/web/helmrelease.yaml
  kubernetes/main/apps/media/immich/app/web/kustomization.yaml
Labels: area/kubernetes

kromogo
  kubernetes/main/apps/monitoring/kromgo/app/config/config.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kromgo/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

update-docs
  README.md
Labels: area/docs

add-cosmo-asset
  docs/assets/Cosmo.jpg
Labels: area/docs

fix-README
  README.md
Labels: area/docs

fix-kromogo
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

transparent-cosmo
  docs/assets/Cosmo.jpg
Labels: area/docs

transparent-cosmo
  README.md
Labels: area/docs

fix-alertmanager
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/main/apps/notifications/alert-manager/notification.yaml
Labels: area/kubernetes

fix-prom-minio
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes

update-thanos-discovery
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix-thanos
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix-prom-query
  kubernetes/main/apps/monitoring/kromgo/app/config/config.yaml
Labels: area/kubernetes

fix-prom-query
  kubernetes/main/apps/monitoring/kromgo/app/config/config.yaml
Labels: area/kubernetes

add-apc-ups
  README.md
Labels: area/docs

fix-ups
  kubernetes/main/apps/monitoring/network-ups-tools/app/config/upsd.users
  kubernetes/main/apps/monitoring/network-ups-tools/app/config/upsmon.conf
Labels: area/kubernetes

fix-ups
  kubernetes/main/apps/monitoring/network-ups-tools/app/config/upsd.users
Labels: area/kubernetes

add-rennovate-job
  .github/workflows/renovate.yaml
Labels: area/github

rennovate-readme
  README.md
Labels: area/docs

fix-readme
  README.md
Labels: area/docs

fix-readme
  README.md
Labels: area/docs

fix-readme
  README.md
Labels: area/docs

fix-readme
  README.md
Labels: area/docs

disable-jellystat
  kubernetes/main/apps/media/jellystat/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-jellystat"
  kubernetes/main/apps/media/jellystat/app/helmrelease.yaml
Labels: area/kubernetes

disable-authelia
  kubernetes/main/apps/auth/authelia/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-authelia"
  kubernetes/main/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

disable-syncthing
  kubernetes/main/apps/collab/syncthing/app/helmrelease.yaml.disabled
Labels: area/kubernetes
