Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

disable-multus
  clusters/lovenet/core/network/multus/app/helm-release.yaml.disabled
Labels: area/cluster

enable-multus
  clusters/lovenet/core/network/multus/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.75.2
  clusters/lovenet/apps/media/immich/app/machine-learning/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/lidarr-develop to v1.4.0.3554
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

Revert "feat(container): update image quay.io/cilium/cilium to v1.14.1 (#4361)"
  clusters/lovenet/core/kube-system/cilium-quick-install/quick-install.yaml
Labels: area/cluster

Revert "feat(container): update image quay.io/cilium/operator-generic to v1.14.1 (#4362)"
  clusters/lovenet/core/kube-system/cilium-quick-install/quick-install.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 48.6.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

disable-immich
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml.disabled
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml.disabled
  clusters/lovenet/apps/media/immich/app/web/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-immich"
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

Revert "force-l2advertisements-worker1-interface"
  clusters/lovenet/core/network/metallb/config/l2advertisement.yaml
Labels: area/cluster

cilium-bgp
  clusters/lovenet/core/kube-system/cilium/app/bgppeeringpolicy.yaml
  clusters/lovenet/core/kube-system/cilium/app/helm-release.yaml
  clusters/lovenet/core/kube-system/cilium/app/kustomization.yaml
  clusters/lovenet/core/kube-system/cilium/app/kustomizeconfig.yaml
  clusters/lovenet/core/kube-system/cilium/app/values.yaml
  clusters/lovenet/core/kube-system/cilium/ks.yaml
Labels: area/cluster

remove-bad-files
  clusters/lovenet/apps/downloads/dnsutils/ks.yaml~
  clusters/lovenet/apps/home/hajimari-admin/app/helm-release.yaml~
  clusters/lovenet/apps/home/hajimari-admin/ks.yaml~
Labels: area/cluster

Revert "cilium-bgp"
  clusters/lovenet/core/kube-system/cilium/app/bgppeeringpolicy.yaml
  clusters/lovenet/core/kube-system/cilium/app/helm-release.yaml
  clusters/lovenet/core/kube-system/cilium/app/kustomization.yaml
  clusters/lovenet/core/kube-system/cilium/app/kustomizeconfig.yaml
  clusters/lovenet/core/kube-system/cilium/app/values.yaml
  clusters/lovenet/core/kube-system/cilium/ks.yaml
Labels: area/cluster

feat(helm): update chart phpmyadmin to 12.1.0
  clusters/lovenet/apps/databases/phpmyadmin/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update image ghcr.io/onedr0p/radarr-develop to v5
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image netdata/netdata to v1.42.2
  clusters/lovenet/apps/monitoring/netdata/app/helm-release.yaml
Labels: area/cluster

fix(container): update image registry.k8s.io/node-problem-detector/node-problem-detector to v0.8.14
  clusters/lovenet/core/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.6
  clusters/lovenet/core/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update chart kube-prometheus-stack to 49.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 18.0.1
  clusters/lovenet/apps/databases/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3890
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.651
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.5
  clusters/lovenet/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.39
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.76.1
  clusters/lovenet/apps/media/immich/app/machine-learning/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

cilium-multus
  clusters/lovenet/core/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

cilium-bgp
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/helm/metallb-charts.yaml
  clusters/lovenet/core/kube-system/cilium-quick-install/kustomization.yaml
  clusters/lovenet/core/kube-system/cilium-quick-install/node.md
  clusters/lovenet/core/kube-system/cilium-quick-install/quick-install.yaml
  clusters/lovenet/core/kube-system/cilium-quick-install/values.yaml
  clusters/lovenet/core/kube-system/cilium/app/bgppeeringpolicy.yaml
  clusters/lovenet/core/kube-system/cilium/app/helm-release.yaml
  clusters/lovenet/core/kube-system/cilium/app/kustomization.yaml
  clusters/lovenet/core/kube-system/cilium/app/kustomizeconfig.yaml
  clusters/lovenet/core/kube-system/cilium/app/values.yaml
  clusters/lovenet/core/kube-system/cilium/ks.yaml
  clusters/lovenet/core/network/ingress-nginx/app/helm-release.yaml
  clusters/lovenet/core/network/kustomization.yaml
  clusters/lovenet/core/network/metallb/app/helm-release.yaml
  clusters/lovenet/core/network/metallb/app/kustomization.yaml
  clusters/lovenet/core/network/metallb/config/ipaddresspool.yaml
  clusters/lovenet/core/network/metallb/config/kustomization.yaml
  clusters/lovenet/core/network/metallb/config/l2advertisement.yaml
  clusters/lovenet/core/network/metallb/ks.yaml
Labels: area/cluster

no-longhorn-worker3
  init/create-cluster.sh
Labels: none

dont-start-worker9
  init/create-cluster.sh
  init/destroy-cluster.sh
Labels: none

no-postgres-recovery
  clusters/lovenet/core/cloudnative-pg/config/cluster.yaml
Labels: area/cluster

update-run-on-all-noes
  tools/run-on-all-nodes.sh
Labels: none

feat(container): update image quay.io/cilium/cilium to v1.14.1
  clusters/lovenet/core/kube-system/cilium-quick-install/quick-install.yaml
Labels: area/cluster

feat(container): update image quay.io/cilium/operator-generic to v1.14.1
  clusters/lovenet/core/kube-system/cilium-quick-install/quick-install.yaml
Labels: area/cluster

fix-cilium-quickstart
  clusters/lovenet/core/kube-system/cilium-quick-install/quick-install.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/app/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/app/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/users.sops.toml
  clusters/lovenet/apps/databases/pgadmin/app/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/chatgpt/app/secrets.yaml
  clusters/lovenet/apps/home/double-take/app/secrets.yaml
  clusters/lovenet/apps/home/emqx/app/secrets.yaml
  clusters/lovenet/apps/home/frigate/app/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/app/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/app/secrets.yaml
  clusters/lovenet/apps/media/immich/app/secrets.yaml
  clusters/lovenet/apps/media/lidarr/app/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/app/secrets.yaml
  clusters/lovenet/apps/media/radarr/app/secrets.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/app/secrets.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets.yaml
  clusters/lovenet/apps/media/sonarr/app/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets.yaml
  clusters/lovenet/apps/monitoring/statping/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/secrets.yaml
  clusters/lovenet/apps/network/external-dns/app/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/core/downloads-gateway/app/secrets.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
  clusters/lovenet/core/storage/minio/app/secrets.yaml
Labels: area/cluster

kubeconform-ignore
  .github/workflows/.kubeconform-ignore
Labels: area/github

update-readme
  README.md
Labels: none

remove-worker9
  init/create-cluster.sh
Labels: none

Update README.md
  README.md
Labels: none

kubeProxyReplacement-true
  clusters/lovenet/core/kube-system/cilium-quick-install/values.yaml
  clusters/lovenet/core/kube-system/cilium/app/values.yaml
Labels: area/cluster
