Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.0.0.2181
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.317
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

add-netdata
  clusters/lovenet/apps/monitoring/netdata/helm-release.yaml
  clusters/lovenet/apps/monitoring/netdata/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/helm/netdata.yaml
Labels: area/cluster

fix-netdata-ingress
  clusters/lovenet/apps/monitoring/netdata/helm-release.yaml
Labels: area/cluster

disable-netdata-children
  clusters/lovenet/apps/monitoring/netdata/helm-release.yaml
Labels: area/cluster

fix(helm): update chart netdata to 3.7.37
  clusters/lovenet/apps/monitoring/netdata/helm-release.yaml
Labels: area/cluster

feat(container): update image netdata/netdata to v1.37.1
  clusters/lovenet/apps/monitoring/netdata/helm-release.yaml
Labels: area/cluster

Update README.md
  README.md
Labels: none

fix(helm): update chart emqx to 5.0.13
  clusters/lovenet/apps/home/emqx/helm-release.yaml
Labels: area/cluster

longhorn-2-replicas
  clusters/lovenet/apps/collab/vikunja/config-pvc.yaml
  clusters/lovenet/apps/databases/influxdb/config-pvc.yaml
  clusters/lovenet/apps/home/home-assistant/config-pvc.yaml
  clusters/lovenet/apps/home/node-red/config-pvc.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/config-pvc.yaml
  clusters/lovenet/apps/media/airsonic/config-pvc.yaml
  clusters/lovenet/apps/media/gonic/config-pvc.yaml
  clusters/lovenet/apps/media/kodi-helm/config-pvc.yaml
  clusters/lovenet/apps/media/kodidb-helm/config-pvc.yaml
  clusters/lovenet/apps/media/lidarr/config-pvc.yaml
  clusters/lovenet/apps/media/prowlarr/config-pvc.yaml
  clusters/lovenet/apps/media/radarr/config-pvc.yaml
  clusters/lovenet/apps/media/rompr/config-pvc.yaml
  clusters/lovenet/apps/media/sonarr/config-pvc.yaml
  clusters/lovenet/apps/media/whisparr/config-pvc.yaml
  clusters/lovenet/apps/media/youtube-dl/config-pvc.yaml
  clusters/lovenet/apps/monitoring/statping/config-pvc.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/config-pvc.yaml
Labels: area/cluster

move-gonic-to-xfs
  clusters/lovenet/apps/media/gonic/config-pvc.yaml
Labels: area/cluster

enable-airsonic
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

Revert "longhorn-2-replicas"
  clusters/lovenet/apps/collab/vikunja/config-pvc.yaml
  clusters/lovenet/apps/databases/influxdb/config-pvc.yaml
  clusters/lovenet/apps/home/home-assistant/config-pvc.yaml
  clusters/lovenet/apps/home/node-red/config-pvc.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/config-pvc.yaml
  clusters/lovenet/apps/media/airsonic/config-pvc.yaml
  clusters/lovenet/apps/media/gonic/config-pvc.yaml
  clusters/lovenet/apps/media/kodi-helm/config-pvc.yaml
  clusters/lovenet/apps/media/kodidb-helm/config-pvc.yaml
  clusters/lovenet/apps/media/lidarr/config-pvc.yaml
  clusters/lovenet/apps/media/prowlarr/config-pvc.yaml
  clusters/lovenet/apps/media/radarr/config-pvc.yaml
  clusters/lovenet/apps/media/rompr/config-pvc.yaml
  clusters/lovenet/apps/media/sonarr/config-pvc.yaml
  clusters/lovenet/apps/media/whisparr/config-pvc.yaml
  clusters/lovenet/apps/media/youtube-dl/config-pvc.yaml
  clusters/lovenet/apps/monitoring/statping/config-pvc.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/config-pvc.yaml
Labels: area/cluster

gonic-2-replicas
  clusters/lovenet/apps/media/gonic/config-pvc.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.74.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.0.0.2191
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

disable-netdata-k8sState
  clusters/lovenet/apps/monitoring/netdata/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.0.0.2197
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 43.2.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update chart reloader to v0.0.127
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v0.0.128
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.4.2
  clusters/lovenet/core/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(helm): update chart longhorn to 1.4.0
  clusters/lovenet/core/storage/longhorn/helm-release.yaml
Labels: area/cluster

add-portainer
  clusters/lovenet/apps/monitoring/kustomization.yaml
  clusters/lovenet/apps/monitoring/portainer/config-pvc.yaml
  clusters/lovenet/apps/monitoring/portainer/helm-release.yaml
  clusters/lovenet/apps/monitoring/portainer/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/helm/portainer.yaml
Labels: area/cluster

fix-portainer
  clusters/lovenet/apps/monitoring/portainer/helm-release.yaml
Labels: area/cluster

portainer-authelia
  clusters/lovenet/apps/authentication/authelia/config/configuration.yml
Labels: area/cluster

fix-portainer-authelia
  clusters/lovenet/apps/authentication/authelia/config/configuration.yml
  tmpl/cluster-secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/secrets.yaml
  clusters/lovenet/apps/downloads/qbittorrent/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/owncloud-ocis/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/media/whisparr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/social-media/mastodon/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.0.0.2201
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix-nut-server
  clusters/lovenet/core/monitoring/nut-server/helm-release.yaml
  tmpl/cluster-settings.yaml
Labels: area/cluster

update-settings
  clusters/lovenet/base/cluster-settings.yaml
Labels: area/cluster

nut-llbip
  clusters/lovenet/core/monitoring/nut-server/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.0.0.2207
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.0.1.2211
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.49.0
  clusters/lovenet/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(container): update image syncthing/syncthing to v1.23.0
  clusters/lovenet/apps/collab/syncthing/helm-release.yaml
Labels: area/cluster

zwavejs2mqtt-to-xfs
  clusters/lovenet/apps/home/zwavejs2mqtt/config-pvc.yaml
Labels: area/cluster

fix-network-ups-tools
  clusters/lovenet/core/monitoring/nut-server/helm-release.yaml
Labels: area/cluster

change-nut-dif
  clusters/lovenet/core/monitoring/kustomization.yaml
  clusters/lovenet/core/monitoring/network-ups-tools/helm-release.yaml
  clusters/lovenet/core/monitoring/network-ups-tools/kustomization.yaml
Labels: area/cluster

fix(helm): update chart app-template to 1.2.1
  clusters/lovenet/apps/authentication/authelia/helm-release.yaml
  clusters/lovenet/apps/authentication/glauth/helm-release.yaml
  clusters/lovenet/apps/collab/vikunja/helm-release.yaml
  clusters/lovenet/apps/downloads/qbittorrent/helm-release.yaml
  clusters/lovenet/apps/home/esphome/helm-release.yaml
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
  clusters/lovenet/apps/home/node-red/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
  clusters/lovenet/apps/media/airsonic/helm-release.yaml
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
  clusters/lovenet/apps/media/radarr/helm-release.yaml
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
  clusters/lovenet/apps/media/theme-park/helm-release.yaml
  clusters/lovenet/apps/media/whisparr/helm-release.yaml
  clusters/lovenet/apps/storage/minio/helm-release.yaml
  clusters/lovenet/core/monitoring/network-ups-tools/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
