Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

fix-frigate
  clusters/lovenet/apps/home/frigate/app/config.yaml
Labels: area/cluster

external-dns-external-secrets
  clusters/lovenet/apps/network/external-dns/app/externalsecret.yaml
  clusters/lovenet/apps/network/external-dns/app/helm-release.yaml
  clusters/lovenet/apps/network/external-dns/app/kustomization.yaml
  clusters/lovenet/apps/network/external-dns/app/secrets-tmpl.yaml
  clusters/lovenet/apps/network/external-dns/app/secrets.yaml
  clusters/lovenet/apps/network/external-dns/ks.yaml
  create-secrets.sh
Labels: area/cluster

fix-secret
  clusters/lovenet/apps/network/external-dns/app/externalsecret.yaml
Labels: area/cluster

cloudflare-ddns-external-secrets
  clusters/lovenet/apps/network/cloudflare-ddns/app/externalsecret.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/helm-release.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/secrets-tmpl.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/ks.yaml
Labels: area/cluster

fix-cloudflare-ddns-external-secrets
  clusters/lovenet/apps/network/cloudflare-ddns/app/kustomization.yaml
Labels: area/cluster

fix-cloudflare-ddns-external-secrets
  create-secrets.sh
Labels: none

mopidy-external-secrets
  clusters/lovenet/apps/media/radio/mopidy/app/externalsecret.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/kustomization.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/secrets-tmpl.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/secrets.yaml
  clusters/lovenet/apps/media/radio/mopidy/ks.yaml
  create-secrets.sh
Labels: area/cluster

downloads-gateway-externalsecrets
  clusters/lovenet/apps/network/downloads-gateway/app/externalsecret.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/helm-release.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/kustomization.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/secrets-tmpl.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/secrets.yaml
  clusters/lovenet/apps/network/downloads-gateway/ks.yaml
Labels: area/cluster

fix-downloads-gateway-externalsecrets
  create-secrets.sh
Labels: none

fix-nextcloud
  clusters/lovenet/apps/home/nextcloud/app/patches/postgres.yaml
Labels: area/cluster

fix
  clusters/lovenet/apps/network/cloudflare-ddns/app/externalsecret.yaml
Labels: area/cluster

github-webhook-external-secrets
  clusters/lovenet/apps/flux-system/webhook/github/externalsecret.yaml
  clusters/lovenet/apps/flux-system/webhook/github/kustomization.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets-tmpl.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
Labels: area/cluster

move-webhook
  clusters/lovenet/apps/flux-system/addons/ks.yaml
  clusters/lovenet/apps/flux-system/addons/webhook/github/externalsecret.yaml
  clusters/lovenet/apps/flux-system/addons/webhook/github/ingress.yaml
  clusters/lovenet/apps/flux-system/addons/webhook/github/kustomization.yaml
  clusters/lovenet/apps/flux-system/addons/webhook/github/receiver.yaml
  clusters/lovenet/apps/flux-system/addons/webhook/kustomization.yaml
  clusters/lovenet/apps/flux-system/kustomization.yaml
Labels: area/cluster

fix-webhook
  create-secrets.sh
Labels: none

github-notification-external-secrets
  clusters/lovenet/apps/notifications/github/externalsecret.yaml
  clusters/lovenet/apps/notifications/github/kustomization.yaml
  clusters/lovenet/apps/notifications/github/notification.yaml
  clusters/lovenet/apps/notifications/github/secrets-tmpl.yaml
  clusters/lovenet/apps/notifications/github/secrets.yaml
Labels: area/cluster

fix-github-webhook
  clusters/lovenet/apps/flux-system/addons/webhook/github/externalsecret.yaml
Labels: area/cluster

underscores
  clusters/lovenet/apps/flux-system/addons/webhook/github/externalsecret.yaml
  clusters/lovenet/apps/notifications/github/externalsecret.yaml
Labels: area/cluster

fix-github-webhook
  clusters/lovenet/apps/flux-system/addons/webhook/github/externalsecret.yaml
Labels: area/cluster

fix-github-notification
  clusters/lovenet/apps/notifications/github/externalsecret.yaml
Labels: area/cluster

cleanup-create-secrets
  create-secrets.sh
Labels: none

feat(container): update image esphome/esphome to v2023.10.0
  clusters/lovenet/apps/home/esphome/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reflector to 7.1.216
  clusters/lovenet/apps/kube-system/reflector/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.28.3
  clusters/lovenet/apps/network/cloudflare-ddns/app/helm-release.yaml
Labels: area/cluster

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

feat(helm): update chart grafana to 6.61.1
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.82.1
  clusters/lovenet/apps/media/immich/app/machine-learning/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/checkout digest to b4ffde6
  .github/workflows/lint.yaml
Labels: area/github

descheduler-onedr0p
  clusters/lovenet/apps/kube-system/descheduler/app/helm-release.yaml
  clusters/lovenet/apps/kube-system/descheduler/app/kustomization.yaml
  clusters/lovenet/apps/kube-system/descheduler/helm-release.yaml
  clusters/lovenet/apps/kube-system/descheduler/ks.yaml
  clusters/lovenet/apps/kube-system/kustomization.yaml
Labels: area/cluster

fix-descheduler
  clusters/lovenet/apps/kube-system/descheduler/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 51.9.4
  clusters/lovenet/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image esphome/esphome to v2023.10.1
  clusters/lovenet/apps/home/esphome/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.35.0
  clusters/lovenet/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v7.8
  clusters/lovenet/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.2
  clusters/lovenet/apps/home/zwavejs2mqtt/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart cloudnative-pg to 0.19.0
  clusters/lovenet/apps/databases/cloudnative-pg/app/helm-release.yaml
Labels: area/cluster

fix(container): update thanos group
  clusters/lovenet/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 18.1.6
  clusters/lovenet/apps/databases/redis/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update peter-evans/create-or-update-comment action to v3.1.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github
