Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

move-storage
  clusters/lovenet/apps/kustomization.yaml
  clusters/lovenet/apps/storage/kustomization.yaml
  clusters/lovenet/apps/storage/longhorn/README.md
  clusters/lovenet/apps/storage/longhorn/app/helm-release.yaml
  clusters/lovenet/apps/storage/longhorn/app/kustomization.yaml
  clusters/lovenet/apps/storage/longhorn/config/kustomization.yaml
  clusters/lovenet/apps/storage/longhorn/config/recurring-jobs.yaml
  clusters/lovenet/apps/storage/longhorn/ks.yaml
  clusters/lovenet/apps/storage/minio/app/helm-release.yaml
  clusters/lovenet/apps/storage/minio/app/kustomization.yaml
  clusters/lovenet/apps/storage/minio/app/nfs-pvc.yaml
  clusters/lovenet/apps/storage/minio/app/secrets-tmpl.yaml
  clusters/lovenet/apps/storage/minio/app/secrets.yaml
  clusters/lovenet/apps/storage/minio/ks.yaml
  clusters/lovenet/apps/storage/rook-ceph/add-ons/dashboard/ceph-cluster-dashboard.json
  clusters/lovenet/apps/storage/rook-ceph/add-ons/dashboard/ceph-osd-dashboard.json
  clusters/lovenet/apps/storage/rook-ceph/add-ons/dashboard/ceph-pools-dashboard.json
  clusters/lovenet/apps/storage/rook-ceph/add-ons/dashboard/kustomization.yaml
  clusters/lovenet/apps/storage/rook-ceph/add-ons/direct-mount/deployment.yaml
  clusters/lovenet/apps/storage/rook-ceph/add-ons/direct-mount/kustomization.yaml
  clusters/lovenet/apps/storage/rook-ceph/add-ons/kustomization.yaml
  clusters/lovenet/apps/storage/rook-ceph/app/kustomization.yaml
  clusters/lovenet/apps/storage/rook-ceph/app/operator/helm-release.yaml
  clusters/lovenet/apps/storage/rook-ceph/app/operator/kustomization.yaml
  clusters/lovenet/apps/storage/rook-ceph/cluster/helm-release.yaml
  clusters/lovenet/apps/storage/rook-ceph/cluster/kustomization.yaml
  clusters/lovenet/apps/storage/rook-ceph/ks.yaml
  clusters/lovenet/core/kustomization.yaml
Labels: area/cluster

move-notifications
  clusters/lovenet/apps/kustomization.yaml
  clusters/lovenet/apps/notifications/alert-manager/kustomization.yaml
  clusters/lovenet/apps/notifications/alert-manager/notification.yaml
  clusters/lovenet/apps/notifications/github/kustomization.yaml
  clusters/lovenet/apps/notifications/github/notification.yaml
  clusters/lovenet/apps/notifications/github/secrets-tmpl.yaml
  clusters/lovenet/apps/notifications/github/secrets.yaml
  clusters/lovenet/apps/notifications/kustomization.yaml
  clusters/lovenet/core/kustomization.yaml
  create-secrets.sh
Labels: area/cluster

fix-secrets
  create-secrets.sh
Labels: none

move-cert-manager
  clusters/lovenet/apps/cert-manager/app/helm-release.yaml
  clusters/lovenet/apps/cert-manager/app/kustomization.yaml
  clusters/lovenet/apps/cert-manager/certificates/certificate.yaml
  clusters/lovenet/apps/cert-manager/certificates/kustomization.yaml
  clusters/lovenet/apps/cert-manager/issuers/kustomization.yaml
  clusters/lovenet/apps/cert-manager/issuers/letsencrypt-production.yaml
  clusters/lovenet/apps/cert-manager/issuers/letsencrypt-staging.yaml
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
  clusters/lovenet/apps/cert-manager/ks.yaml
  clusters/lovenet/apps/cert-manager/kustomization.yaml
  clusters/lovenet/apps/kustomization.yaml
  clusters/lovenet/core/kustomization.yaml
Labels: area/cluster

move-kube-system
  clusters/lovenet/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  clusters/lovenet/apps/kube-system/cilium/app/helm-release.yaml
  clusters/lovenet/apps/kube-system/cilium/app/kustomization.yaml
  clusters/lovenet/apps/kube-system/cilium/app/kustomizeconfig.yaml
  clusters/lovenet/apps/kube-system/cilium/app/values.yaml
  clusters/lovenet/apps/kube-system/cilium/ks.yaml
  clusters/lovenet/apps/kube-system/descheduler/helm-release.yaml
  clusters/lovenet/apps/kube-system/descheduler/kustomization.yaml
  clusters/lovenet/apps/kube-system/intel-device-plugin/app/helm-release.yaml
  clusters/lovenet/apps/kube-system/intel-device-plugin/app/kustomization.yaml
  clusters/lovenet/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
  clusters/lovenet/apps/kube-system/intel-device-plugin/exporter/kustomization.yaml
  clusters/lovenet/apps/kube-system/intel-device-plugin/gpu/helm-release.yaml
  clusters/lovenet/apps/kube-system/intel-device-plugin/gpu/kustomization.yaml
  clusters/lovenet/apps/kube-system/intel-device-plugin/ks.yaml
  clusters/lovenet/apps/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/apps/kube-system/kube-vip/kustomization.yaml
  clusters/lovenet/apps/kube-system/kube-vip/rbac.yaml
  clusters/lovenet/apps/kube-system/kubelet-csr-approver/helm-release.yaml
  clusters/lovenet/apps/kube-system/kubelet-csr-approver/kustomization.yaml
  clusters/lovenet/apps/kube-system/kustomization.yaml
  clusters/lovenet/apps/kube-system/metrics-server/helm-release.yaml
  clusters/lovenet/apps/kube-system/metrics-server/kustomization.yaml
  clusters/lovenet/apps/kube-system/nfs-client-provisioner/helm-release.yaml
  clusters/lovenet/apps/kube-system/nfs-client-provisioner/kustomization.yaml
  clusters/lovenet/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  clusters/lovenet/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  clusters/lovenet/apps/kube-system/node-feature-discovery/ks.yaml
  clusters/lovenet/apps/kube-system/node-problem-detector/helm-release.yaml
  clusters/lovenet/apps/kube-system/node-problem-detector/kustomization.yaml
  clusters/lovenet/apps/kube-system/reflector/helm-release.yaml
  clusters/lovenet/apps/kube-system/reflector/kustomization.yaml
  clusters/lovenet/apps/kube-system/reloader/helm-release.yaml
  clusters/lovenet/apps/kube-system/reloader/kustomization.yaml
  clusters/lovenet/apps/kube-system/vpa/helm-release.yaml
  clusters/lovenet/apps/kube-system/vpa/kustomization.yaml
  clusters/lovenet/apps/kustomization.yaml
  clusters/lovenet/core/kustomization.yaml
Labels: area/cluster

fix-kubeconform
  .github/workflows/.kubeconform-ignore
Labels: area/github

fix-kubeconform
  init/initialize-cluster.sh
Labels: none

remove-core
  .github/scripts/kubeconform.sh
  .github/workflows/publish-cloudflare-networks.yaml
  clusters/lovenet/apps/flux-system/webhook/github/receiver.yaml
  clusters/lovenet/base/apps.yaml
  clusters/lovenet/base/core.yaml
Labels: area/github, area/cluster

lidarr-remove-caps
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

radarr-remove-caps
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

Revert "radarr-remove-caps"
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 1.0.5
  clusters/lovenet/apps/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update chart vpa to 3.0.1
  clusters/lovenet/apps/kube-system/vpa/helm-release.yaml
Labels: area/cluster

radarr-remove-caps
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

Revert "radarr-remove-caps"
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix-radarr-hajimari
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

disable-radarr
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-radarr"
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

disable-phpadmin
  clusters/lovenet/apps/databases/phpmyadmin/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-phpadmin"
  clusters/lovenet/apps/databases/phpmyadmin/app/helm-release.yaml
Labels: area/cluster

remove-airsonic
  clusters/lovenet/apps/media/airsonic/helm-release.yaml
  clusters/lovenet/apps/media/airsonic/kustomization.yaml
  clusters/lovenet/apps/media/airsonic/longhorn-pvc.yaml
  clusters/lovenet/apps/media/airsonic/nfs-pvc.yaml
Labels: area/cluster

dependsOn
  clusters/lovenet/apps/authentication/authelia/app/helm-release.yaml
  clusters/lovenet/apps/databases/pgadmin/app/helm-release.yaml
  clusters/lovenet/apps/databases/pgadmin/ks.yaml
  clusters/lovenet/apps/databases/redis/app/helm-release.yaml
  clusters/lovenet/apps/downloads/qbittorrent-rss/app/helm-release.yaml
  clusters/lovenet/apps/home/barcode-buddy/app/helm-release.yaml
  clusters/lovenet/apps/home/double-take/app/helm-release.yaml
  clusters/lovenet/apps/home/emqx/app/helm-release.yaml
  clusters/lovenet/apps/home/esphome/app/helm-release.yaml
  clusters/lovenet/apps/home/frigate/app/helm-release.yaml
  clusters/lovenet/apps/home/grocy/app/helm-release.yaml
  clusters/lovenet/apps/home/home-assistant/app/helm-release.yaml
  clusters/lovenet/apps/home/nextcloud/app/helm-release.yaml
  clusters/lovenet/apps/home/node-red/app/helm-release.yaml
  clusters/lovenet/apps/home/vaultwarden/app/helm-release.yaml
  clusters/lovenet/apps/home/zigbee2mqtt/app/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/app/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/app/helm-release.yaml
  clusters/lovenet/apps/kube-system/intel-device-plugin/gpu/helm-release.yaml
  clusters/lovenet/apps/media/gonic/app/helm-release.yaml
  clusters/lovenet/apps/media/jellyfin/app/helm-release.yaml
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
  clusters/lovenet/apps/media/stash/app/helm-release.yaml
  clusters/lovenet/apps/media/youtube-dl/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/grafana/ks.yaml
  clusters/lovenet/apps/monitoring/helm-dashboard/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/loki/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/netdata/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/thanos/app/helm-release.yaml
  clusters/lovenet/apps/network/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

ks-hass-like-esphome
  clusters/lovenet/apps/home/home-assistant/app/kustomization.yaml
  clusters/lovenet/apps/home/home-assistant/ks.yaml
  clusters/lovenet/apps/home/home-assistant/net-attach/kustomization.yaml
  clusters/lovenet/apps/home/home-assistant/net-attach/net-attach.yaml
Labels: area/cluster

remove-statping
  clusters/lovenet/apps/monitoring/statping/helm-release.yaml
  clusters/lovenet/apps/monitoring/statping/kustomization.yaml
  clusters/lovenet/apps/monitoring/statping/longhorn-pvc.yaml
  clusters/lovenet/apps/monitoring/statping/patches/postgres.yaml
  clusters/lovenet/apps/monitoring/statping/secrets-tmpl.yaml
  clusters/lovenet/apps/monitoring/statping/secrets.yaml
Labels: area/cluster

add-vector
  clusters/lovenet/apps/monitoring/kustomization.yaml
Labels: area/cluster

vector-ks
  clusters/lovenet/apps/monitoring/vector/app/agent/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/app/agent/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/app/aggregator/filterlog-regex.txt
  clusters/lovenet/apps/monitoring/vector/app/aggregator/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/app/aggregator/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/ceph-pvc.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/cron-job.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/secrets-tmpl.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/secrets.yaml
  clusters/lovenet/apps/monitoring/vector/app/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/geoipupdate/longhorn-pvc.yaml
  clusters/lovenet/apps/monitoring/vector/ks.yaml
Labels: area/cluster

add-tools
  tools/check_jellyfin-internal.sh
  tools/check_k8s-gateway.sh
  tools/check_smtp-relay.sh
Labels: none

bjw-s-vector
  clusters/lovenet/apps/monitoring/vector/agent/config/vector.yaml
  clusters/lovenet/apps/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/agent/helmrelease.yaml~
  clusters/lovenet/apps/monitoring/vector/agent/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/agent/kustomization.yaml~
  clusters/lovenet/apps/monitoring/vector/agent/rbac.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/config/vector.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/kustomization.yaml~
  clusters/lovenet/apps/monitoring/vector/aggregator/secrets-tmpl.yaml
  clusters/lovenet/apps/monitoring/vector/app/agent/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/app/agent/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/app/aggregator/filterlog-regex.txt
  clusters/lovenet/apps/monitoring/vector/app/aggregator/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/app/aggregator/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/ceph-pvc.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/cron-job.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/app/geoipupdate/secrets.yaml
  clusters/lovenet/apps/monitoring/vector/app/kustomization.yaml
  clusters/lovenet/apps/monitoring/vector/ks.yaml
  clusters/lovenet/apps/monitoring/vector/ks.yaml~
  create-secrets.sh
Labels: area/cluster

fix-vector
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/app/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/app/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/users.sops.toml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/app/secrets.yaml
  clusters/lovenet/apps/downloads/autobrr/app/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/chatgpt/app/secrets.yaml
  clusters/lovenet/apps/home/double-take/app/secrets.yaml
  clusters/lovenet/apps/home/emqx/app/secrets.yaml
  clusters/lovenet/apps/home/frigate/app/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/app/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/app/secrets.yaml
  clusters/lovenet/apps/media/immich/app/secrets.yaml
  clusters/lovenet/apps/media/lidarr/app/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/app/secrets.yaml
  clusters/lovenet/apps/media/radarr/app/secrets.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/app/secrets.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets.yaml
  clusters/lovenet/apps/media/sonarr/app/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/secrets.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/secrets.yaml
  clusters/lovenet/apps/network/external-dns/app/secrets.yaml
  clusters/lovenet/apps/notifications/github/secrets.yaml
  clusters/lovenet/apps/storage/minio/app/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  create-secrets.sh
Labels: area/cluster

commit-vector-secrets
  clusters/lovenet/apps/monitoring/vector/aggregator/secrets.yaml
  clusters/lovenet/base/cluster-settings.yaml
  tmpl/cluster-settings.yaml
Labels: area/cluster

disable-vector
  clusters/lovenet/apps/monitoring/vector/agent/helm-release.yaml.disabled
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml.disabled
Labels: area/cluster

fix-vector-ks
  clusters/lovenet/apps/monitoring/vector/ks.yaml
Labels: area/cluster

Revert "disable-vector"
  clusters/lovenet/apps/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix-vector-ks
  clusters/lovenet/apps/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix-vector-ks
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

disable-vector
  clusters/lovenet/apps/monitoring/vector/agent/helm-release.yaml.disabled
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-vector"
  clusters/lovenet/apps/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-feature-discovery to 0.14.1
  clusters/lovenet/apps/kube-system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart reflector to 7.1.203
  clusters/lovenet/apps/kube-system/reflector/helm-release.yaml
Labels: area/cluster
