Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image ghcr.io/k8snetworkplumbingwg/multus-cni to v4.0.2
  clusters/lovenet/core/network/multus/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.6
  clusters/lovenet/core/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart cert-manager to v1.12.1
  clusters/lovenet/core/cert-manager/app/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update chart kube-prometheus-stack to 46.4.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.521
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart prometheus-snmp-exporter to 1.5.0
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/helm-release.yaml
Labels: area/cluster

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix(helm): update chart loki to 5.5.10
  clusters/lovenet/core/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

update-nextcloud-nginx
  clusters/lovenet/apps/home/nextcloud/app/helm-release.yaml
Labels: area/cluster

disable-loki
  clusters/lovenet/core/monitoring/loki/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-loki"
  clusters/lovenet/core/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3415
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

order-kube-ops-view
  clusters/lovenet/apps/monitoring/kube-ops-view/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/kube-ops-view/app/kustomization.yaml
  clusters/lovenet/apps/monitoring/kube-ops-view/ks.yaml
  clusters/lovenet/apps/monitoring/kustomization.yaml
Labels: area/cluster

order-grafana
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/grafana/app/kustomization.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets-tmpl.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/ks.yaml
  clusters/lovenet/apps/monitoring/kustomization.yaml
Labels: area/cluster

fix-grafana
  clusters/lovenet/apps/monitoring/grafana/app/patches/env.yaml
  clusters/lovenet/apps/monitoring/grafana/app/patches/postgres.yaml
Labels: area/cluster

fix-create-secrets
  create-secrets.sh
Labels: none

add-pushover-alerts
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/helm-release.yaml
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/secrets-tmpl.yaml
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/secrets.yaml
  create-secrets.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/app/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/app/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/app/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/app/secrets.yaml
  clusters/lovenet/apps/home/emqx/app/secrets.yaml
  clusters/lovenet/apps/home/frigate/app/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/app/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/app/secrets.yaml
  clusters/lovenet/apps/media/immich/app/secrets.yaml
  clusters/lovenet/apps/media/kodi-mariadb/app/secrets.yaml
  clusters/lovenet/apps/media/lidarr/app/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/app/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/radarr/app/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets.yaml
  clusters/lovenet/apps/media/sonarr/app/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets.yaml
  clusters/lovenet/apps/monitoring/statping/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/social-media/mastodon/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/core/downloads-gateway/app/secrets.yaml
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
  clusters/lovenet/core/storage/minio/app/secrets.yaml
Labels: area/cluster

include-Pushover-secrets
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/secrets-tmpl.yaml
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/secrets.yaml
  create-secrets.sh
  tmpl/cluster-secrets.yaml
Labels: area/cluster

fix(container): update image quay.io/cilium/cilium to v1.13.3
  clusters/lovenet/core/kube-system/cilium-quick-install/quick-install.yaml
Labels: area/cluster

fix(container): update image quay.io/cilium/operator-generic to v1.13.3
  clusters/lovenet/core/kube-system/cilium-quick-install/quick-install.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.56.6
  clusters/lovenet/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix-alert-manager
  clusters/lovenet/core/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.13.3
  clusters/lovenet/core/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

blackbox-security-storage
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

remove-lidarr-priv
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

Revert "remove-lidarr-priv"
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

remove-lidarr-priv
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

Revert "remove-lidarr-priv"
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

remove-lidarr-caps
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

Revert "remove-lidarr-caps"
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

remove-lidarr-allowesc
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

order-nut
  clusters/lovenet/core/monitoring/blackbox-exporter/app/helm-release.yaml
  clusters/lovenet/core/monitoring/blackbox-exporter/app/kustomization.yaml
  clusters/lovenet/core/monitoring/blackbox-exporter/ks.yaml
  clusters/lovenet/core/monitoring/goldilocks/app/helm-release.yaml
  clusters/lovenet/core/monitoring/goldilocks/app/kustomization.yaml
  clusters/lovenet/core/monitoring/goldilocks/ks.yaml
  clusters/lovenet/core/monitoring/kustomization.yaml
  clusters/lovenet/core/monitoring/network-ups-tools/app/helm-release.yaml
  clusters/lovenet/core/monitoring/network-ups-tools/app/kustomization.yaml
  clusters/lovenet/core/monitoring/network-ups-tools/ks.yaml
  clusters/lovenet/core/monitoring/prometheus-nut-exporter/app/helm-release.yaml
  clusters/lovenet/core/monitoring/prometheus-nut-exporter/app/kustomization.yaml
  clusters/lovenet/core/monitoring/prometheus-nut-exporter/ks.yaml
  clusters/lovenet/core/monitoring/speedtest-prometheus/app/helm-release.yaml
  clusters/lovenet/core/monitoring/speedtest-prometheus/app/kustomization.yaml
  clusters/lovenet/core/monitoring/speedtest-prometheus/ks.yaml
Labels: area/cluster

cleanup-after-patch-decrypt
  clusters/lovenet/core/monitoring/loki/ks.yaml
Labels: area/cluster

Update README.md
  README.md
Labels: none

comment-out-schemas
  .github/workflows/kubeconform.yaml
Labels: area/github

remove-allowprivescal
  clusters/lovenet/apps/authentication/authelia/app/helm-release.yaml
  clusters/lovenet/apps/home/barcode-buddy/app/helm-release.yaml
  clusters/lovenet/apps/home/emqx/app/helm-release.yaml
  clusters/lovenet/apps/home/esphome/app/helm-release.yaml
  clusters/lovenet/apps/home/frigate/app/helm-release.yaml
  clusters/lovenet/apps/home/node-red/app/helm-release.yaml
  clusters/lovenet/apps/media/kodi-nexus/app/helm-release.yaml
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
  clusters/lovenet/apps/media/sabnzbd/app/helm-release.yaml
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
  clusters/lovenet/core/monitoring/blackbox-exporter/app/helm-release.yaml
  clusters/lovenet/core/network/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.58.0
  clusters/lovenet/apps/media/immich/app/machine-learning/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
