Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image netdata/netdata to v1.43.2
  clusters/lovenet/apps/monitoring/netdata/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/intel-gpu-exporter to 0e81f2f
  clusters/lovenet/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/autobrr/autobrr to 8f3e5d6
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart netdata to 3.7.76
  clusters/lovenet/apps/monitoring/netdata/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/qmcgaw/gluetun to v3.36.0
  clusters/lovenet/apps/network/downloads-gateway/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/autobrr/autobrr to 8f3e5d6
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to 7054bf5
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/bjw-s/mdbook to be4eca3
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/autobrr/autobrr to 2a26d0e
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to 2365b04
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image docker.io/koenkk/zigbee2mqtt to v1.33.2
  clusters/lovenet/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/authelia/authelia to 47a8ed0
  clusters/lovenet/apps/auth/authelia/app/helm-release.yaml
Labels: area/cluster

update-qbittorrent
  clusters/lovenet/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/cluster

fix(container): update image esphome/esphome to v2023.10.6
  clusters/lovenet/apps/home/esphome/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/autobrr/autobrr to 2a26d0e
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/authelia/authelia to 47a8ed0
  clusters/lovenet/apps/auth/authelia/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart longhorn to 1.5.2
  clusters/lovenet/apps/storage/longhorn/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart cloudnative-pg to 0.19.1
  clusters/lovenet/apps/databases/cloudnative-pg/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.36.3
  clusters/lovenet/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 3c120f8
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 0759c04
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update micalevisk/last-issue-action action to v2.2.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 57518cb
  clusters/lovenet/apps/auth/authelia/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/autobrr/autobrr to 03d0b2b
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image syncthing/syncthing to v1.26.0
  clusters/lovenet/apps/collab/syncthing/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/authelia/authelia to 57518cb
  clusters/lovenet/apps/auth/authelia/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/vector to v0.34.0
  clusters/lovenet/apps/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(github-action): update micalevisk/last-issue-action action to v2.2.1
  .github/workflows/broken-link-check.yaml
Labels: area/github

chore(container): update image ghcr.io/autobrr/autobrr to 03d0b2b
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.51
  clusters/lovenet/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/sentriz/gonic to v0.16.1
  clusters/lovenet/apps/media/gonic/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/authelia/authelia to 0bfe5db
  clusters/lovenet/apps/auth/authelia/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: none

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to effdedc
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/authelia/authelia to 0bfe5db
  clusters/lovenet/apps/auth/authelia/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.3.2
  clusters/lovenet/apps/home/zwavejs2mqtt/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.2
  clusters/lovenet/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.720
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image quay.io/minio/minio to release.2023-11-11t08-14-41z
  clusters/lovenet/apps/storage/minio/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.3.8246
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster
