Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

update-secrets
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/monitoring/statping/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/social-media/mastodon/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

remove-secret-owncloud-ocis
  create-secrets.sh
Labels: none

fix-dnsutils
  clusters/lovenet/apps/downloads/dnsutils/dnsutils.yaml
Labels: area/cluster

fix-renovate
  .github/renovate-bot.json5
Labels: area/github

add-CODEOWNERS
  .github/CODEOWNERS
Labels: area/github

remove-github-tags-renovate
  .github/renovate/autoMerge.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

add-sabnzbd
  clusters/lovenet/apps/downloads/qbittorrent/helm-release.yaml
  clusters/lovenet/apps/downloads/qbittorrent/nfs-pvc.yaml
  clusters/lovenet/apps/media/kustomization.yaml
  clusters/lovenet/apps/media/sabnzbd/helm-release.yaml
  clusters/lovenet/apps/media/sabnzbd/kustomization.yaml
  clusters/lovenet/apps/media/sabnzbd/nfs-pvc.yaml
  clusters/lovenet/apps/media/sabnzbd/secrets-tmpl.yaml
  create-secrets.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/authentication/authelia/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/config/users.sops.toml
  clusters/lovenet/apps/collab/vikunja/secrets.yaml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/secrets.yaml
  clusters/lovenet/apps/home/emqx/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/secrets.yaml
  clusters/lovenet/apps/media/lidarr/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/radarr/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/secrets.yaml
  clusters/lovenet/apps/media/sabnzbd/secrets.yaml
  clusters/lovenet/apps/media/sonarr/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/secrets.yaml
  clusters/lovenet/apps/monitoring/statping/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/social-media/mastodon/secrets.yaml
  clusters/lovenet/apps/storage/minio/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/downloads-gateway/secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

sabnzbd-config
  clusters/lovenet/apps/media/sabnzbd/helm-release.yaml
  clusters/lovenet/apps/media/sabnzbd/kustomization.yaml
  clusters/lovenet/apps/media/sabnzbd/longhorn-pvc.yaml
Labels: area/cluster

fix-sabnzbd
  clusters/lovenet/apps/media/sabnzbd/helm-release.yaml
Labels: area/cluster

fix-sabnzbd-downloads
  clusters/lovenet/apps/media/sabnzbd/nfs-pvc.yaml
Labels: area/cluster

add-secrets-to-kustomize
  clusters/lovenet/apps/media/sabnzbd/kustomization.yaml
Labels: area/cluster

fix-perms
  clusters/lovenet/apps/media/sabnzbd/helm-release.yaml
Labels: area/cluster

has-ipv6-sabnzbd-env
  clusters/lovenet/apps/media/sabnzbd/helm-release.yaml
Labels: area/cluster

chore(deps): update traefik-crd-source to v21.2.0
  clusters/lovenet/crds/traefik/crds.yaml
Labels: area/cluster

fix(helm): update chart helm-dashboard to 0.1.6
  clusters/lovenet/apps/monitoring/helm-dashboard/helm-release.yaml
Labels: area/cluster

chore(deps): update external-dns-source to v0.13.3
  clusters/lovenet/crds/external-dns/crds.yaml
Labels: area/cluster

feat(container): update image ghcr.io/fluxcd/source-controller to v0.36.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(container): update image ghcr.io/fluxcd/notification-controller to v0.33.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(container): update image ghcr.io/fluxcd/kustomize-controller to v0.35.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.7.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reflector to 7.0.151
  clusters/lovenet/core/kube-system/reflector/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v6.21
  clusters/lovenet/apps/databases/pgadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-dns to 6.14.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(container): update image vikunja/api to v0.20.3
  clusters/lovenet/apps/collab/vikunja/helm-release.yaml
Labels: area/cluster

fix(container): update image vikunja/frontend to v0.20.4
  clusters/lovenet/apps/collab/vikunja/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 0.2.8
  clusters/lovenet/core/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/fluxcd/helm-controller to v0.31.1
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(helm): update chart thanos to 12.2.0
  clusters/lovenet/core/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v1.0.15
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.52.2
  clusters/lovenet/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.6
  clusters/lovenet/apps/media/theme-park/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.3.3
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.397
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart emqx to 5.0.20
  clusters/lovenet/apps/home/emqx/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.8.4
  clusters/lovenet/apps/databases/redis/helm-release.yaml
Labels: area/cluster

fix(helm): update rook-ceph group to v1.11.1
  clusters/lovenet/core/storage/rook-ceph/cluster/helm-release.yaml
  clusters/lovenet/core/storage/rook-ceph/operator/helm-release.yaml
  clusters/lovenet/core/storage/rook-ceph/rook-direct-mount/deployment.yaml
Labels: area/cluster

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.10.1
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

feat(helm): update chart traefik to 21.2.0
  clusters/lovenet/core/network/traefik/helm-release.yaml
Labels: area/cluster

sabnzbd-elevated-perms
  clusters/lovenet/apps/media/sabnzbd/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
