Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.2
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.74.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(container): update helm values ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2593
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2600
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

feat(github-release): update dependency fluxcd/flux2 to v0.31.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.5.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.3
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.76.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2602
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/zwave-js/zwavejs2mqtt to 6.12.0
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.3.0
  .pre-commit-config.yaml
Labels: none

prom-etcd-target-port
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

update-ups-target-for-prom
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/helm-release.yaml
Labels: area/cluster

update-ups-target-for-prom
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.3.0
  .pre-commit-config.yaml
Labels: none

feat(github-action): update renovatebot/github-action action to v32.78.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.4
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.0.11
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v3.0.8
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.8
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kubernetes-dashboard to v5.7.0
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.0.11
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.31.1
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

increase-loki-liveness-probe
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.0.12
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(container): update helm values wallabag/wallabag to 2.5.1
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
Labels: area/cluster

remove-valetudo-from-loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

add-zwave-7-stick-from-loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

remove-zigbee-from-loki
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

increase-loki-logging
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release reloader to v0.0.114
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(container): update helm values wallabag/wallabag to 2.5.1
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.5.4
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.80.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release ingress-nginx to v4.1.4
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release ingress-nginx to v4.1.4
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.82.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values timberio/vector to 0.22.1
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v3.0.9
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.9
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster
