Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update helm release ingress-nginx to v4.1.3
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.70.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release descheduler to v0.24.1
  clusters/lovenet/core/kube-system/descheduler/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release ingress-nginx to v4.1.3
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(container): update helm values kubernetesui/dashboard to v2.6.0
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.20.1
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.71.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release kube-prometheus-stack to v35.5.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.0
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency aquasecurity/starboard to v0.15.6
  clusters/lovenet/crds/starboard/crds.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.0
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release starboard-operator to v0.10.6
  clusters/lovenet/core/starboard-system/starboard-operator/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.71.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release loki to v2.12.0
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v3.0.7
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.7
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(container): update vector-suite
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.71.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.71.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.6
  .pre-commit-config.yaml
Labels: none

fix(helm): update helm release ingress-nginx to v4.1.3
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.0.9
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.0
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release influxdb2 to v2.1.0
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

Update README.md
  README.md
Labels: none

loki-readiness-probe-time
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

loki-readiness-probe-time
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix-syntax
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/apps/home/frigate/config.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
  clusters/lovenet/apps/network/wildcard-certificate/certificate.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/core/longhorn/recurring-jobs.yaml
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.7
  .pre-commit-config.yaml
Labels: none

fix(helm): update helm release mariadb to v11.0.10
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.73.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release grafana to v6.29.6
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.73.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release external-dns to v6.5.2
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.7
  .pre-commit-config.yaml
Labels: none

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1801
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.16.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1802
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.74.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github
