Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster

fix-frigate-free-mem
  clusters/lovenet/apps/home/frigate/app/helm-release.yaml
Labels: area/cluster

Revert "disable-mopidy"
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

update-multus-release
  clusters/lovenet/core/network/multus/app/helm-release.yaml
Labels: area/cluster

update-taskfiles
  .pre-commit-config.yaml
  .taskfiles/Flux/Tasks.yml
  .taskfiles/formatter.yml
  .taskfiles/linter.yml
  .taskfiles/pre-commit.yml
  Taskfile.yml
Labels: none

fix-kubeconform
  .github/scripts/kubeconform.sh
Labels: area/github

disable-multus
  clusters/lovenet/core/network/kustomization.yaml
Labels: area/cluster

multus-cap-sysadmin
  clusters/lovenet/core/network/multus/app/helm-release.yaml
Labels: area/cluster

Revert "disable-multus"
  clusters/lovenet/core/network/kustomization.yaml
Labels: area/cluster

disable-multus
  clusters/lovenet/core/network/kustomization.yaml
Labels: area/cluster

feat(container): update immich group to v1.55.1
  clusters/lovenet/apps/media/immich/app/machine-learning/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 45e2dda
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/qbittorrent to 0efdd8d
  clusters/lovenet/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/radarr-develop to 4e53a92
  clusters/lovenet/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to 1922be7
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.0.1
  clusters/lovenet/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart multus to 5.0.2
  clusters/lovenet/core/network/multus/app/helm-release.yaml
Labels: area/cluster

fix(container): update image mariadb to v10.11.3
  clusters/lovenet/apps/media/kodi-mariadb/app/mariadb.yaml
Labels: area/cluster

fix(helm): update chart longhorn to 1.4.2
  clusters/lovenet/core/storage/longhorn/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart prometheus-blackbox-exporter to 7.8.0
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v2.0.0-rc.3
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/lidarr-develop to v1.2.0.3183
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

cnpg-backup
  clusters/lovenet/core/cloudnative-pg/config/cluster.yaml
Labels: area/cluster

change-cnpg-servername
  clusters/lovenet/core/cloudnative-pg/config/cluster.yaml
Labels: area/cluster

remove-restore
  clusters/lovenet/core/cloudnative-pg/config/cluster.yaml
Labels: area/cluster

hajimari-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

mopidy-conf
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-mopidy"
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

fix-mopidy-port
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

disable-tidal
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-mopidy"
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

fix-mopidy-file
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-mopidy"
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-mopidy"
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

mopidy-increase-verbosity
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster
