Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix(helm): update helm release deepstack to v1.4.2
  clusters/lovenet/apps/home/deepstack/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release joplin-server to v5.1.2
  clusters/lovenet/apps/home/joplin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release double-take to v2.2.2
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kah-common-chart to v1.1.2
  clusters/lovenet/apps/network/echo-server/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release esphome to v8.3.2
  clusters/lovenet/apps/home/esphome/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kanboard to v4.7.2
  clusters/lovenet/apps/home/kanboard/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release flaresolverr to v5.3.2
  clusters/lovenet/apps/media/flaresolverr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release lidarr to v14.1.3
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release frigate to v8.1.2
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mosquitto to v4.3.2
  clusters/lovenet/apps/home/mosquitto/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release gonic to v6.3.2
  clusters/lovenet/apps/media/gonic/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release network-ups-tools to v6.3.3
  clusters/lovenet/core/monitoring/nut-server/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grocy to v8.4.2
  clusters/lovenet/apps/home/grocy/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release home-assistant to v13.1.3
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release node-red to v10.1.2
  clusters/lovenet/apps/home/node-red/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release omada-controller to v4.3.2
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release stash to v3.3.2
  clusters/lovenet/apps/media/stash/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release statping to v5.7.2
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release vaultwarden to v4.2.2
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release wallabag to v6.2.2
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release youtubedl-material to v4.3.2
  clusters/lovenet/apps/media/youtube-dl/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release zwavejs2mqtt to v5.3.2
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release owncloud-ocis to v2.3.2
  clusters/lovenet/apps/home/owncloud-ocis/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release photoprism to v6.6.3
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release prometheus-nut-exporter to v5.3.3
  clusters/lovenet/core/monitoring/prometheus-nut-exporter/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release prowlarr to v4.4.2
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release qbittorrent to v13.4.3
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release radarr to v16.2.3
  clusters/lovenet/apps/media/radarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release sonarr to v16.2.3
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.29.2
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(github-action): update kah library chart
  charts/kah-common/charts/common-4.4.1.tgz
  charts/kah-common/charts/common-4.4.2.tgz
Labels: none

fix(helm): update helm release grafana to v6.29.2
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(github-action): update aquasecurity/trivy-action action to v0.3.0
  .github/workflows/scan-containers.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.46.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.46.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.8.1519
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release ingress-nginx to v4.1.1
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v35.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.48.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.14
  .pre-commit-config.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
