Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

rob-debug-helm-release-differ
  .github/scripts/helm-release-differ.sh
Labels: area/github

feat(helm)!: Update Helm release lidarr to v14
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release radarr to v16
  clusters/lovenet/apps/media/radarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release ingress-nginx to v4.0.17
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

rob-debug-helm-release-differ-2
  .github/scripts/helm-release-differ.sh
Labels: area/github

fix(container): update ghcr.io/fluxcd/kustomize-controller docker tag to v0.20.1
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(container): update ghcr.io/fluxcd/source-controller docker tag to v0.21.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v31.0.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v31.68.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release kube-prometheus-stack to v31.0.2
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(container): update ghcr.io/fluxcd/kustomize-controller docker tag to v0.20.1
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(helm)!: Update Helm release kube-prometheus-stack to v32
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.26.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

chore(github-action): update flux components to v0.26.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

Add Flux v0.26.1 component manifests
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

Add Flux sync manifests
  clusters/lovenet/base/flux-system/gotk-sync.yaml
Labels: area/cluster

update-secrets
  bootstrap.sh
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
  initialize-cluster.sh
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v31.68.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release kube-prometheus-stack to v32.0.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.26.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/flux-system/gotk-sync.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
  initialize-cluster.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
  create-secrets.sh
  initialize-cluster.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

chore(github-action): update flux components to v0.26.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

sops-age
  clusters/lovenet/base/apps.yaml
  clusters/lovenet/base/core.yaml
Labels: area/cluster

fix-secrets-age
  .sops.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
  create-secrets.sh
  initialize-cluster.sh
  tmpl/.sops.yaml
Labels: area/cluster

fix-secrets-age-2
  create-secrets.sh
  tmpl/gotk-sync.yaml
Labels: none

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/flux-system/gotk-sync.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(container): update ghcr.io/fluxcd/kustomize-controller docker tag to v0.20.1
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(container): update ghcr.io/fluxcd/source-controller docker tag to v0.21.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v31.68.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v31.68.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

chore(github-action): update flux components to v0.26.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

update-workflows
  .github/renovate.json5
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

remove-schedule-flux-update
  .github/workflows/schedule-flux-update.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v31.68.6
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release pihole to v2.5.5
  clusters/lovenet/apps/network/pihole/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v32.0.2
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release metrics-server to v3.8.0
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
