Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

frigate-config-ns
  clusters/lovenet/apps/home/frigate/kustomization.yaml
Labels: area/cluster

frigate-config-format
  clusters/lovenet/apps/home/frigate/config.yaml
Labels: area/cluster

frigate-config-format-2
  clusters/lovenet/apps/home/frigate/config.yaml
Labels: area/cluster

frigate-config-secrets
  clusters/lovenet/apps/home/frigate/config.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

frigate-config-secrets
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

frigate-config-env-vars
  clusters/lovenet/apps/home/frigate/config.yaml
Labels: area/cluster

frigate-kustomization
  clusters/lovenet/apps/home/frigate/kustomization.yaml
Labels: area/cluster

change-frigate-image
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

move-coral-mapping
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

Revert "move-coral-mapping"
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

remove-frigate-initcontainer
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.10.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix-frigate-secrets
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

frigate-config-env-vars-
  clusters/lovenet/apps/home/frigate/config.yaml
Labels: area/cluster

Revert "frigate-config-env-vars-"
  clusters/lovenet/apps/home/frigate/config.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.5.3
  .pre-commit-config.yaml
Labels: none

feat(helm): update helm release home-assistant to v12.2.0
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release joplin-server to v4.6.0
  clusters/lovenet/apps/home/joplin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kanboard to v4.6.0
  clusters/lovenet/apps/home/kanboard/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release photoprism to v6.5.0
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release statping to v5.6.0
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

Revert "Revert "frigate-config-env-vars-""
  clusters/lovenet/apps/home/frigate/config.yaml
Labels: area/cluster

feat(helm): update helm release tt-rss to v4.6.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vaultwarden to v4.1.0
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release wallabag to v6.1.0
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
Labels: area/cluster

Revert "Revert "Revert "frigate-config-env-vars-"""
  clusters/lovenet/apps/home/frigate/config.yaml
Labels: area/cluster

frigate-remove-env-dot
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

fix-frigate-secrets
  clusters/lovenet/apps/home/frigate/config.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml
  clusters/lovenet/apps/home/frigate/kustomization.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.15
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release home-assistant to v12.2.0
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release joplin-server to v4.6.0
  clusters/lovenet/apps/home/joplin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kanboard to v4.6.0
  clusters/lovenet/apps/home/kanboard/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release photoprism to v6.5.0
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release statping to v5.6.0
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release tt-rss to v4.6.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vaultwarden to v4.1.0
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release wallabag to v6.1.0
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
Labels: area/cluster

add-v-to-frigate-tag
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

allow-var-subs
  clusters/lovenet/apps/home/frigate/kustomization.yaml
Labels: area/cluster

delme
  clusters/lovenet/apps/home/frigate/kustomization.yaml
Labels: area/cluster
