Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.7.1485
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/tarampampam/error-pages to 2.8.1
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release reflector to v6.1.47
  clusters/lovenet/core/kube-system/reflector/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.5.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.5.0
  .pre-commit-config.yaml
Labels: none

fix(github-action): update renovatebot/github-action action to v32.6.8
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.5.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update helm release vpa to v1.3.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.9
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-issue-from-file action to v4
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-or-update-comment action to v2
  .github/workflows/helm-release-differ.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/find-comment action to v2
  .github/workflows/helm-release-differ.yaml
Labels: area/github

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9107.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

feat(container): update helm values mbentley/omada-controller to 5.1
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-descheduler
  clusters/lovenet/core/kube-system/descheduler/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9108.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

feat(github-action): update lycheeverse/lychee-action action to v1.4.0
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

remove-omada-cert-annotation
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

fix(github-action): update lycheeverse/lychee-action action to v1.4.1
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.9.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.5.1
  .pre-commit-config.yaml
Labels: none

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9109.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.10
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-pull-request action to v4
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
  .github/workflows/schedule-library-chart-update.yaml
Labels: area/github

remove-omada-acme-annotation
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release node-problem-detector to v2.1.0
  clusters/lovenet/core/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

feat(github-release): update dependency fluxcd/flux2 to v0.28.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

remove-longhorn-image-versions
  clusters/lovenet/core/longhorn/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(helm): update helm release cert-manager to v1.7.2
  clusters/lovenet/core/cert-manager/helm-release.yaml
Labels: area/cluster

add-cert-manager-to-apps-kustomization
  clusters/lovenet/apps/kustomization.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

allow-externaldns-serviceaccount
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.6.12
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release external-dns to v6.2.2
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.28.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.10.1
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

update-traefik-lb
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

update-traefik-lb-2
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
