Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update helm release loki to v2.9.2
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9093.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.21.8
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release loki to v2.10.0
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release loki to v2.10.0
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release goldilocks to v5.3.0
  clusters/lovenet/core/monitoring/goldilocks/helm-release.yaml
Labels: area/cluster

update-owncloud-ocis
  clusters/lovenet/apps/home/owncloud-ocis/helm-release.yaml
  clusters/lovenet/apps/home/owncloud-ocis/nfs-config.yaml
Labels: area/cluster

update-owncloud-ocis-storage
  clusters/lovenet/apps/home/owncloud-ocis/helm-release.yaml
Labels: area/cluster

fix-owncloud-ocis-storage
  clusters/lovenet/apps/home/owncloud-ocis/helm-release.yaml
  clusters/lovenet/apps/home/owncloud-ocis/nfs-config.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.14.2
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9094.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

try-to-fix-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

try-to-fix-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release loki to v2.10.1
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(container): update helm values blakeblackshear/frigate to 0.10.0-amd64
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release whoami to v2.5.5
  clusters/lovenet/apps/network/whoami/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9096.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ekofr/pihole-exporter to v0.3.0
  clusters/lovenet/apps/network/pihole/helm-release.yaml
Labels: area/cluster

move-sonarr-pvc
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
  clusters/lovenet/apps/media/sonarr/nfs-config.yaml
Labels: area/cluster

move-lidarr-pvc
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
  clusters/lovenet/apps/media/lidarr/nfs-config.yaml
Labels: area/cluster

move-radarr-pvc
  clusters/lovenet/apps/media/radarr/helm-release.yaml
  clusters/lovenet/apps/media/radarr/nfs-config.yaml
Labels: area/cluster

fix(helm): update helm release influxdb2 to v2.0.9
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release nfs-subdir-external-provisioner to v4.0.16
  clusters/lovenet/core/kube-system/nfs-client-provisioner/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9097.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

Revert "rob-debug-helm-release-differ"
  .github/scripts/helm-release-differ.sh
Labels: area/github

add-cloudflare-token-secret
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
Labels: area/cluster

add-sonarr-image-info
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release sonarr to v16.0.1
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release vaultwarden to v4.0.1
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release lidarr to v14.0.1
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release radarr to v16.0.1
  clusters/lovenet/apps/media/radarr/helm-release.yaml
Labels: area/cluster

fix-pvc-in-helm-release-file
  clusters/lovenet/apps/media/airsonic/helm-release.yaml
  clusters/lovenet/apps/media/airsonic/nfs-config.yaml
  clusters/lovenet/apps/media/gonic/helm-release.yaml
  clusters/lovenet/apps/media/gonic/nfs-config.yaml
  clusters/lovenet/apps/media/stash/helm-release.yaml
  clusters/lovenet/apps/media/stash/nfs-config.yaml
  clusters/lovenet/apps/media/youtube-dl/helm-release.yaml
  clusters/lovenet/apps/media/youtube-dl/nfs-config.yaml
Labels: area/cluster

chore(deps): update stashapp/stash commit hash to latest
  clusters/lovenet/apps/media/stash/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.1.6
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release frigate to v8
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.6.1470
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(github-action): update lycheeverse/lychee-action action to v1.3.1
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

feat(helm): update helm release grafana to v6.22.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.22.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.3.0
  .pre-commit-config.yaml
Labels: none
