Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.1.2
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/app/helm-release.yaml
Labels: area/cluster

lldap-limits
  clusters/lovenet/apps/authentication/lldap/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/autobrr/autobrr to 25d12f5
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to cc8e0f2
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/helm-release.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.697
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 5fd7c41
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/helm-release.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.43
  clusters/lovenet/apps/kube-system/reloader/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 88af35d
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/helm-release.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

feat(helm): update chart pgadmin4 to 1.18.0
  clusters/lovenet/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/cluster

chore(container): update image docker.io/photoprism/photoprism to 29b636a
  clusters/lovenet/apps/media/photoprism/app/helm-release.yaml
Labels: area/cluster

disable-authelia
  clusters/lovenet/apps/authentication/authelia/app/helm-release.yaml.disabled
Labels: area/cluster

remove-authelia
  clusters/lovenet/apps/authentication/kustomization.yaml
Labels: area/cluster

Revert "disable-authelia"
  clusters/lovenet/apps/authentication/authelia/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/autobrr/autobrr to 25d12f5
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to c1d1202
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v39.2.2
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image caddy to v2.7.5
  clusters/lovenet/apps/collab/vikunja/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to d12a44a
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/bjw-s/mdbook to 26c0ab9
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(github-action): update flux group
  .github/workflows/helmrepository-sync.yaml
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/github, area/cluster

fix(helm): update chart ingress-nginx to 4.8.2
  clusters/lovenet/apps/network/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 645eea2
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

chore(container): update image docker.io/photoprism/photoprism to 29b636a
  clusters/lovenet/apps/media/photoprism/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to 09d97f0
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(helm): update chart thanos to 12.13.11
  clusters/lovenet/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.2
  clusters/lovenet/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 5c022f2
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/helm-release.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 51.6.1
  clusters/lovenet/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to bab30f1
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.4.4028
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.30.0
  clusters/lovenet/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

remove-dnsutils
  clusters/lovenet/apps/downloads/dnsutils/app/dnsutils.yaml
  clusters/lovenet/apps/downloads/dnsutils/app/kustomization.yaml
  clusters/lovenet/apps/downloads/dnsutils/ks.yaml
  clusters/lovenet/apps/downloads/kustomization.yaml
  clusters/lovenet/apps/network/dnsutils/dnsutils.yaml
  clusters/lovenet/apps/network/dnsutils/kustomization.yaml
  clusters/lovenet/apps/network/kustomization.yaml
Labels: area/cluster

disable-localai
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-localai"
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 8afcbef
  clusters/lovenet/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/prowlarr-nightly to efdeda5
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

empty-playlist-dir
  clusters/lovenet/apps/media/gonic/app/helm-release.yaml
Labels: area/cluster

update-to-onedr0p
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

update-to-onedr0p
  .github/workflows/flux-diff.yaml
Labels: area/github

publish-schemas
  .github/workflows/publish-schemas.yaml
Labels: area/github
