Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat(helm): update helm release traefik to v10.21.1
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v36.0.2
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(container): update helm values timberio/vector to 0.22.2
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.88.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.89.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values jakowenko/double-take to 1.12.1
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release loki to v2.12.2
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release k8s-gateway to v1.1.10
  clusters/lovenet/apps/network/k8s_gateway/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release mosquitto to v4.4.0
  clusters/lovenet/apps/home/mosquitto/helm-release.yaml
Labels: area/cluster

remove temp file
  clusters/lovenet/core/monitoring/snmp-exporter/kustomization.yaml~
Labels: area/cluster

update-precommit-hooks
  .pre-commit-config.yaml
Labels: none

fix(helm): update helm release reloader to v0.0.117
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v36.0.3
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release pihole to v2.6.0
  clusters/lovenet/apps/network/pihole/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.8
  .pre-commit-config.yaml
Labels: none

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1818
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vector to v0.13.1
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release photoprism to v6.6.4
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.30.3
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.7
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1823
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release goldilocks to v6.1.3
  clusters/lovenet/core/monitoring/goldilocks/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.31.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.22.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v36.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm release cert-manager to v1.8.2
  clusters/lovenet/core/cert-manager/helm-release.yaml
  clusters/lovenet/crds/cert-manager/kustomization.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.31.1
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/zwave-js/zwavejs2mqtt to 6.12.1
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1829
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.31.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

update-frigate-tz
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.2.1840
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update Helm release traefik to v10.23.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.9
  .pre-commit-config.yaml
Labels: none

Update README.md
  README.md
Labels: none

feat(container): update helm values ghcr.io/zwave-js/zwavejs2mqtt to 6.13.0
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release prometheus-blackbox-exporter to v5.8.2
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.31.3
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.24.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.0.14
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster
