Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

feat(github-action): update renovatebot/github-action action to v31.80.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release phpmyadmin to v9.0.3
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v31.80.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix-vaultwarden
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
Labels: area/cluster

add-cert-allowed-namespaces
  clusters/lovenet/apps/network/wildcard-certificate/certificate.yaml
Labels: area/cluster

fix-webhooks
  clusters/lovenet/apps/flux-system/webhook/github/ingress.yaml
Labels: area/cluster

fix-proxied-networks
  clusters/lovenet/apps/network/ingress-nginx/kustomization.yaml
Labels: area/cluster

fix-proxied-networks
  clusters/lovenet/apps/network/ingress-nginx/kustomization.yaml
Labels: area/cluster

fix-webhooks
  clusters/lovenet/apps/flux-system/webhook/github/ingress.yaml
Labels: area/cluster

fix-cloudflare
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v31.81.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release reloader to v0.0.105
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v31.81.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix-cert
  clusters/lovenet/core/cert-manager/letsencrypt-production.yaml
Labels: area/cluster

fix-cert-manager
  clusters/lovenet/core/cert-manager/helm-release.yaml
  clusters/lovenet/crds/cert-manager/kustomization.yaml
  clusters/lovenet/crds/kustomization.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.4
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix-cert-manager
  clusters/lovenet/apps/cert-manager/dashboard/kustomization.yaml
  clusters/lovenet/apps/cert-manager/issuers/kustomization.yaml
  clusters/lovenet/apps/cert-manager/issuers/letsencrypt-production.yaml
  clusters/lovenet/apps/cert-manager/issuers/letsencrypt-staging.yaml
  clusters/lovenet/apps/cert-manager/kustomization.yaml
  clusters/lovenet/apps/cert-manager/prometheus-rule.yaml
  clusters/lovenet/core/cert-manager/secrets.yaml
  clusters/lovenet/core/cert-manager/tmpl/secrets-tmpl.yaml
  create-secrets.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix-cert-manager
  clusters/lovenet/core/cert-manager/kustomization.yaml
Labels: area/cluster

fix(helm): update helm release vaultwarden to v4.0.1
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release vaultwarden to v4.0.1
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v31.81.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release kube-prometheus-stack to v32.2.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(container): update helm values wallabag/wallabag to 2.4.3
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
Labels: area/cluster

fix(container): update helm values wallabag/wallabag to 2.4.3
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
Labels: area/cluster

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

update-gitattributes
  .gitattributes
Labels: none

feat(container): update helm values docker.io/metallb/controller to v0.12.0
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

feat(container): update helm values docker.io/metallb/speaker to v0.12.0
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vpa to v1.1.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.21.6
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update helm values docker.io/metallb/controller to v0.12.1
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(container): update helm values docker.io/metallb/speaker to v0.12.1
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

feat(github-release): update dependency fluxcd/flux2 to v0.27.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(github-release): update dependency fluxcd/flux2 to v0.27.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.21.7
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vpa to v1.2.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/k8s-at-home/tt-rss to v1.9092.0
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
