Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

feat(container): update helm values kubernetesui/dashboard to v2.5.1
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

fix-dashboard-ingress-classname
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kubernetes-dashboard to v5.3.0
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

try-to-fix-dashboard
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook sirosen/texthooks to v0.3.0
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook sirosen/texthooks to v0.3.1
  .pre-commit-config.yaml
Labels: none

fix(container): update helm values blakeblackshear/frigate to 0.10.1-amd64
  clusters/lovenet/apps/home/frigate/helm-release.yaml
Labels: area/cluster

use-timezone-env-var
  clusters/lovenet/apps/home/appdaemon/helm-release.yaml
  clusters/lovenet/apps/home/deepstack/helm-release.yaml
  clusters/lovenet/apps/home/double-take/helm-release.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml
  clusters/lovenet/apps/home/grocy/helm-release.yaml
  clusters/lovenet/apps/home/hajimari/helm-release.yaml
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
  clusters/lovenet/apps/home/homer/helm-release.yaml
  clusters/lovenet/apps/home/icantbelieveitsnotvaletudo/helm-release.yaml
  clusters/lovenet/apps/home/kanboard/helm-release.yaml
  clusters/lovenet/apps/home/node-red/helm-release.yaml
  clusters/lovenet/apps/home/owncloud-ocis/helm-release.yaml
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
  clusters/lovenet/apps/media/airsonic/helm-release.yaml
  clusters/lovenet/apps/media/bazarr/helm-release.yaml
  clusters/lovenet/apps/media/beets/helm-release.yaml
  clusters/lovenet/apps/media/flaresolverr/helm-release.yaml
  clusters/lovenet/apps/media/freshrss/helm-release.yaml
  clusters/lovenet/apps/media/gonic/helm-release.yaml
  clusters/lovenet/apps/media/jellyfin/helm-release.yaml
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
  clusters/lovenet/apps/media/lychee/helm-release.yaml
  clusters/lovenet/apps/media/navidrome/helm-release.yaml
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
  clusters/lovenet/apps/media/stash/helm-release.yaml
  clusters/lovenet/apps/media/youtube-dl/helm-release.yaml
  clusters/lovenet/apps/network/omada/helm-release.yaml
  clusters/lovenet/core/monitoring/nut-server/helm-release.yaml
  clusters/lovenet/core/monitoring/prometheus-nut-exporter/helm-release.yaml
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

remove-omada-traefik-annotations
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release influxdb2 to v2.0.10
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.1.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

update-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.2.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.2.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.4.0
  .pre-commit-config.yaml
Labels: none

fix(github-action): update renovatebot/github-action action to v32.2.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.3.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release kube-prometheus-stack to v33.2.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

test
  clusters/lovenet/apps/network/traefik/middlewares/omada.yaml
Labels: area/cluster

Revert "test"
  clusters/lovenet/apps/network/traefik/middlewares/omada.yaml
Labels: area/cluster

test-omada-lb-changes
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

test-omada-lb-changes
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

omada-debug-logging
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

delme
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

fix(container): update helm values docker.io/bitnami/phpmyadmin to 5.1.3
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

try-to-fix-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

try-to-fix-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

try-to-fix-omada-ingress
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.4.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.5.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release external-dns to v6.2.0
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
