Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/taskfile, area/kubernetes

Revert "disable-syncthing"
  kubernetes/main/apps/collab/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

disable-minio
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-minio"
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

mon
  kubernetes/main/apps/monitoring/network-ups-tools/app/kustomization.yaml
Labels: area/kubernetes

mon
  kubernetes/main/apps/monitoring/network-ups-tools/app/config/ups.conf
Labels: area/kubernetes

fix-nut
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/prometheusrule.yaml
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/servicemonitor.yaml
Labels: area/kubernetes

nut-args
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix-nut
  kubernetes/main/apps/monitoring/network-ups-tools/app/config/upsmon.conf
Labels: area/kubernetes

dont-listen-ipv6
  kubernetes/main/apps/monitoring/network-ups-tools/app/config/upsd.conf
Labels: area/kubernetes

fix
  kubernetes/main/apps/monitoring/network-ups-tools/app/config/ups.conf
Labels: area/kubernetes

fix
  kubernetes/main/apps/monitoring/network-ups-tools/app/config/upsmon.conf
Labels: area/kubernetes

fix-service-monitor
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/servicemonitor.yaml
Labels: area/kubernetes

sync-to-ishioni
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/prometheus-nut-exporter/app/servicemonitor.yaml
Labels: area/kubernetes

power
  README.md
  kubernetes/main/apps/monitoring/kromgo/app/config/config.yaml
Labels: area/docs, area/kubernetes

enable-qbitt
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes

enable-qbitt
  kubernetes/main/apps/downloads/kustomization.yaml
Labels: area/kubernetes

disable-immich-server
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml.disabled
Labels: area/kubernetes

disable-immich-server
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml.disabled
Labels: area/kubernetes

disable-immich-server
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-immich-server"
  kubernetes/main/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Revert "disable-immich-server"
  kubernetes/main/apps/media/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

Revert "disable-immich-server"
  kubernetes/main/apps/media/immich/app/microservices/helmrelease.yaml
Labels: area/kubernetes

disable-esphome
  kubernetes/main/apps/home/esphome/app/helmrelease.yaml.disabled
Labels: area/kubernetes

update-esphome-pv-size
  kubernetes/main/apps/home/esphome/app/longhorn-pvc.yaml
Labels: area/kubernetes

update-esphome-pvc-size
  kubernetes/main/apps/home/esphome/app/longhorn-pvc.yaml
Labels: area/kubernetes

Revert "disable-esphome"
  kubernetes/main/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes

authelia
  kubernetes/main/apps/auth/authelia/app/config/configuration.yaml
  kubernetes/main/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

disable-authelia
  kubernetes/main/apps/auth/authelia/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-authelia"
  kubernetes/main/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

disable-arc
  kubernetes/main/apps/dev/actions-runner-controller/operator/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-arc"
  kubernetes/main/apps/dev/actions-runner-controller/operator/helmrelease.yaml
Labels: area/kubernetes

move-auth-to-8080
  kubernetes/main/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

disable-cloudflare
  kubernetes/main/apps/network/external-dns/app/cloudflare/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-cloudflare"
  kubernetes/main/apps/network/external-dns/app/cloudflare/helmrelease.yaml
Labels: area/kubernetes

increase-jellyfin-memory
  kubernetes/main/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

disable-cloudflared
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml.disabled
Labels: area/kubernetes

Revert "disable-cloudflared"
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
