Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

nfd-navidrome
  clusters/lovenet/apps/media/navidrome/helm-release.yaml
Labels: area/cluster

fix-usb-audio-class
  clusters/lovenet/core/kube-system/node-feature-discovery/helm-release.yaml
Labels: area/cluster

mount-dev-snd-navidrome
  clusters/lovenet/apps/media/navidrome/helm-release.yaml
Labels: area/cluster

add-mopidy
  clusters/lovenet/apps/media/kustomization.yaml
  clusters/lovenet/apps/media/mopidy/deployment.yaml
  clusters/lovenet/apps/media/mopidy/kustomization.yaml
  clusters/lovenet/apps/media/mopidy/mopidy.conf
  clusters/lovenet/apps/media/mopidy/service.yaml
Labels: area/cluster

increase-mopidy-verbosity
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

fix-mopidy-verbosity
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

add-local-media-config
  clusters/lovenet/apps/media/mopidy/deployment.yaml
  clusters/lovenet/apps/media/mopidy/kustomization.yaml
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

fix-mopidy-formatting
  clusters/lovenet/apps/media/mopidy/deployment.yaml
Labels: area/cluster

add-nfs-config-mopidy
  clusters/lovenet/apps/media/mopidy/nfs-config.yaml
Labels: area/cluster

fix-mopidy-ingress
  clusters/lovenet/apps/media/mopidy/service.yaml
Labels: area/cluster

fix-mopidy-ingress
  clusters/lovenet/apps/media/mopidy/service.yaml
Labels: area/cluster

fix-mopidy-http-config
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

fix-mopidy-target-port
  clusters/lovenet/apps/media/mopidy/service.yaml
Labels: area/cluster

test
  clusters/lovenet/apps/media/mopidy/deployment.yaml
Labels: area/cluster

update-mopidy-config
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

mopidy-conf-remove-audio-section
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.29.4
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.26.8
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v3.0.1
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

delme
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

foo
  clusters/lovenet/apps/media/mopidy/kustomization.yaml
Labels: area/cluster

use-mopidy-helm-chart
  clusters/lovenet/apps/media/mopidy/deployment.yaml
  clusters/lovenet/apps/media/mopidy/helm-release.yaml
  clusters/lovenet/apps/media/mopidy/kustomization.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/mopidy/service.yaml
  create-secrets.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

remove-mopidy-conf-from-kustomization
  clusters/lovenet/apps/media/mopidy/kustomization.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.27.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.32.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release kube-prometheus-stack to v35.0.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.3
  .pre-commit-config.yaml
Labels: none

fix(helm): update helm release kube-prometheus-stack to v35.0.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

no-configmapgenerator
  clusters/lovenet/apps/media/mopidy/configmap.yaml
  clusters/lovenet/apps/media/mopidy/kustomization.yaml
  clusters/lovenet/apps/media/mopidy/mopidy.conf
Labels: area/cluster

subpath-modipy
  clusters/lovenet/apps/media/mopidy/helm-release.yaml
Labels: area/cluster

use-extravolumemounts-mopidy
  clusters/lovenet/apps/media/mopidy/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v35.0.2
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

add-extravolume-mopidy
  clusters/lovenet/apps/media/mopidy/helm-release.yaml
Labels: area/cluster

remove-subpath
  clusters/lovenet/apps/media/mopidy/helm-release.yaml
Labels: area/cluster

fix-mount-path-mopidy
  clusters/lovenet/apps/media/mopidy/helm-release.yaml
Labels: area/cluster

test-change-mount-path
  clusters/lovenet/apps/media/mopidy/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v35.0.2
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
