Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

omada-controller-4.4
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

revert-omada-helm
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

fix-omada
  clusters/lovenet/apps/network/traefik/middlewares/omada.yaml
Labels: area/cluster

feat(helm): update helm release omada-controller to v4.2.0
  clusters/lovenet/apps/network/omada/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix-mosquitto-addr
  tmpl/cluster-settings.yaml
Labels: none

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.10.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

update-kodi
  clusters/lovenet/apps/media/kodi/deployment.yaml
  clusters/lovenet/apps/media/kodi/service.yaml
  clusters/lovenet/apps/media/kodidb/service.yaml
  tmpl/cluster-settings.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

remove-duplicate-longhorn-service
  clusters/lovenet/core/longhorn/kustomization.yaml
  clusters/lovenet/core/longhorn/service.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

remove-influxdb-token
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fi-influxdb-token
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix(container): update dependency ghcr.io/kube-vip/kube-vip to v0.4.3
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(helm): update helm release ingress-nginx to v4.0.19
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(container): update dependency ghcr.io/kube-vip/kube-vip to v0.4.3
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v2.6.11
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.16
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.2.4
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.16
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v34.7.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v34.7.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.10.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release kube-prometheus-stack to v34.7.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(container)!: Update helm values ghcr.io/k8s-at-home/tt-rss to v2.0.9113
  clusters/lovenet/apps/media/tt-rss/helm-release.yaml
Labels: area/cluster

try-8080-qbittorrent
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

try-8080-qbittorrent-2
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

try-8080-qbittorrent-3
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.10.5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release kube-prometheus-stack to v34.8.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.10.6
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release grafana to v6.25.1
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release loki to v2.10.3
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.11.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.11.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
