Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

update-megalinter
  .github/workflows/megalinter.yaml
Labels: area/github

remove-trufflehog
  .github/workflows/trufflehog.yaml
Labels: area/github

update-omada
  clusters/lovenet/apps/network/omada/helm-release.yaml
  clusters/lovenet/apps/network/traefik/middlewares/omada.yaml
Labels: area/cluster

add-syslog-ng
  clusters/lovenet/base/flux-system/charts/git/syslog-ng.yaml
  clusters/lovenet/core/monitoring/kustomization.yaml
  clusters/lovenet/core/monitoring/syslog-ng/helm-release.yaml
  clusters/lovenet/core/monitoring/syslog-ng/kustomization.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/core/monitoring/syslog-ng/helm-release.yaml
  clusters/lovenet/core/monitoring/syslog-ng/kustomization.yaml
  clusters/lovenet/core/monitoring/syslog-ng/nfs-config.yaml
Labels: area/cluster

add-kube-ops-view
  clusters/lovenet/core/monitoring/kube-ops-view/helm-release.yaml
  clusters/lovenet/core/monitoring/kube-ops-view/kustomization.yaml
  clusters/lovenet/core/monitoring/kustomization.yaml
Labels: area/cluster

increase-loki-liveness-initialdelayseconds
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix-loki-storage
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

loki-remove-ruler
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

loki-disable-servicemonitor
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(container): update helm values codercom/code-server to 4.5.0
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.32.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(container): update helm values b4bz/homer to v22.07.1
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2618
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release grafana to v6.32.1
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1882
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release external-dns to v6.6.0
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1889
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.10
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.11
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2621
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1897
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update helm values docker.io/jmalloc/echo-server to 0.3.2
  clusters/lovenet/apps/network/echo-server/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.27.1
  .pre-commit-config.yaml
Labels: none

update-feeds-json-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.7.2
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix-statping
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

remove-trivy
  .github/workflows/scan-containers.yaml
Labels: area/github

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.7.3
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.12
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v36.6.2
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm)!: Update Helm release prometheus-blackbox-exporter to v6
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

reorder-monitoring-helm
  clusters/lovenet/core/monitoring/kustomization.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.12
  .pre-commit-config.yaml
Labels: none

fix-syslog-ng
  clusters/lovenet/base/flux-system/charts/git/syslog-ng.yaml
Labels: area/cluster

fix-syslog-ng-version
  clusters/lovenet/core/monitoring/syslog-ng/helm-release.yaml
Labels: area/cluster

feat(container): update helm values timberio/vector to 0.23.0
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix-syslog-ng-storage
  clusters/lovenet/core/monitoring/syslog-ng/helm-release.yaml
  clusters/lovenet/core/monitoring/syslog-ng/nfs-config.yaml
Labels: area/cluster

fix-syslog-ng-storage
  clusters/lovenet/core/monitoring/syslog-ng/nfs-config.yaml
Labels: area/cluster

remove-metrics-server-args
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster
