Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

remove-git-repo
  clusters/lovenet/base/flux-system/charts/kustomization.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(container): update dependency ghcr.io/kube-vip/kube-vip to v0.4.4
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.27.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix-statping
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
  clusters/lovenet/core/monitoring/statping/kustomization.yaml
  clusters/lovenet/core/monitoring/statping/nfs-config.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.27.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release qbittorrent to v13.3.0
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release radarr to v16.1.0
  clusters/lovenet/apps/media/radarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release sonarr to v16.1.0
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release phpmyadmin to v10
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

Revert "remove-git-repo"
  clusters/lovenet/base/flux-system/charts/kustomization.yaml
Labels: area/cluster

fix-kodi-helm
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

fix-kodi-helm-loadbalancer
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.2
  .pre-commit-config.yaml
Labels: none

feat(github-action): update renovatebot/github-action action to v32.28.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

kodi-helm-mariadb
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
  clusters/lovenet/apps/media/kodi-helm/nfs-config.yaml
Labels: area/cluster

fix-quote
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

fix-kodi-helm
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
  clusters/lovenet/apps/media/kodi-helm/nfs-config.yaml
Labels: area/cluster

fix-kodi-helm-lb
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

fix-kodi-helm-svc
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

add-recurring-backups
  clusters/lovenet/core/longhorn/kustomization.yaml
  clusters/lovenet/core/longhorn/recurring-jobs.yaml
Labels: area/cluster

fix-snapshot-ns
  clusters/lovenet/core/longhorn/recurring-jobs.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.30.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.7.1506
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

statping-persistence
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

pvc-in-correct-ns
  clusters/lovenet/core/monitoring/statping/nfs-config.yaml
Labels: area/cluster

hajimari
  clusters/lovenet/apps/home/double-take/helm-release.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml
  clusters/lovenet/apps/home/owncloud-ocis/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
  clusters/lovenet/apps/media/jellyfin/helm-release.yaml
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
  clusters/lovenet/apps/media/youtube-dl/helm-release.yaml
  clusters/lovenet/apps/network/traefik/helm-release.yaml
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
  clusters/lovenet/core/longhorn/helm-release.yaml
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

Revert "remove-qbittorrent-rss"
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-qbittorrent-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

update-qbittorrent-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

data-not-stringdata
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

stringdata
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

update-qbittorrent-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

Revert "try-projected-volume"
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

qbittorrent-rss-subpat
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.31.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

add-audio-usb-nfd
  clusters/lovenet/core/kube-system/node-feature-discovery/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release kube-prometheus-stack to v35
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(github-action)!: Update github/codeql-action action to v2
  .github/workflows/scan-containers.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
