Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-mopidy"
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

fix-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/kustomization.yaml
Labels: area/cluster

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-mopidy"
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

fix-workflow-flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

mopidy-cm-ns
  clusters/lovenet/apps/media/radio/mopidy/app/kustomization.yaml
Labels: area/cluster

increase-mopidy-verbosity
  clusters/lovenet/apps/media/radio/mopidy/app/mopidy.conf
Labels: area/cluster

fix(container): update image quay.io/minio/minio to release.2023-09-30t07-02-29z
  clusters/lovenet/apps/storage/minio/app/helm-release.yaml
Labels: area/cluster

Revert "feat(container)!: Update image ghcr.io/zwave-js/zwave-js-ui to v9 (#4566)"
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/app/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update image ghcr.io/zwave-js/zwave-js-ui to v9
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/app/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/app/helm-release.yaml
Labels: area/cluster

remove-zstick-6
  clusters/lovenet/apps/home/kustomization.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/app/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/app/kustomization.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/app/longhorn-pvc.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/ks.yaml
Labels: area/cluster

update-masks
  clusters/lovenet/apps/home/frigate/app/config.yaml
Labels: area/cluster

fix-frigate-masks
  clusters/lovenet/apps/home/frigate/app/config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.2.3991
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.688
  clusters/lovenet/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fit-var
  .github/workflows/lint.yaml
Labels: area/github

lint
  .github/linters/.yamllint.yaml
  clusters/lovenet/apps/downloads/autobrr/app/helm-release.yaml
  clusters/lovenet/apps/home/barcode-buddy/app/helm-release.yaml
  clusters/lovenet/apps/home/kustomization.yaml
Labels: area/github, area/cluster

lint
  clusters/lovenet/apps/cert-manager/app/helm-release.yaml
  clusters/lovenet/apps/home/chatgpt/app/config.yaml
  clusters/lovenet/apps/home/chatgpt/app/helm-release.yaml
  clusters/lovenet/apps/home/deepstack/app/helm-release.yaml
  clusters/lovenet/apps/kube-system/cilium/app/values.yaml
  clusters/lovenet/apps/kube-system/k8sgpt/config/k8sgpt.yaml
  clusters/lovenet/apps/kube-system/kube-vip/daemon-set.yaml
  clusters/lovenet/apps/media/flaresolverr/app/helm-release.yaml
  clusters/lovenet/apps/media/gonic/app/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/configmap.yaml
  clusters/lovenet/apps/media/immich/app/microservices/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/server/helm-release.yaml
  clusters/lovenet/apps/media/immich/app/web/helm-release.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
  clusters/lovenet/apps/media/radio/mopidy/ks.yaml
  clusters/lovenet/apps/media/youtube-dl/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/blackbox-exporter/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/grafana/dashboards/kustomization.yaml
  clusters/lovenet/apps/monitoring/kube-ops-view/app/rbac.yaml
  clusters/lovenet/apps/monitoring/speedtest-prometheus/app/helm-release.yaml
  clusters/lovenet/apps/monitoring/vector/agent/config/vector.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/config/vector.yaml
  clusters/lovenet/apps/namespaces/longhorn-system.yaml
  clusters/lovenet/apps/namespaces/network.yaml
  clusters/lovenet/apps/network/external-dns/app/helm-release.yaml
  clusters/lovenet/apps/network/ingress-nginx/app/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/app/helm-release.yaml
  clusters/lovenet/apps/storage/minio/app/helm-release.yaml
Labels: area/cluster

pre-commit-config
  .pre-commit-config.yaml
Labels: none

prettier
  .github/linters/.prettierrc.yaml
Labels: area/github

lint
  .github/linters/.yamllint.yaml
  clusters/lovenet/apps/monitoring/kube-prometheus-stack/addons/alerts/node-exporter.yaml
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/github, area/cluster

fix-lint
  .github/linters/.yamllint.yaml
  clusters/lovenet/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/github, area/cluster

actions-runner-system
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/helm-release.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/secrets-tmpl.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/ks.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  clusters/lovenet/apps/actions-runner-system/kustomization.yaml
  clusters/lovenet/apps/actions-runner-system/namespace.yaml
  clusters/lovenet/apps/kustomization.yaml
  clusters/lovenet/base/flux-system/charts/helm/actions-runner-controller.yaml
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
  create-secrets.sh
Labels: area/cluster

add-runner-secret
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/secrets.yaml
  clusters/lovenet/apps/authentication/authelia/app/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/app/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/users.sops.toml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/app/secrets.yaml
  clusters/lovenet/apps/downloads/autobrr/app/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/app/secrets.yaml
  clusters/lovenet/apps/home/emqx/app/secrets.yaml
  clusters/lovenet/apps/home/frigate/app/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/app/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/app/secrets.yaml
  clusters/lovenet/apps/kube-system/k8sgpt/config/secrets.yaml
  clusters/lovenet/apps/media/immich/app/secrets.yaml
  clusters/lovenet/apps/media/lidarr/app/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/app/secrets.yaml
  clusters/lovenet/apps/media/radarr/app/secrets.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/app/secrets.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets.yaml
  clusters/lovenet/apps/media/sonarr/app/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/secrets.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/secrets.yaml
  clusters/lovenet/apps/network/external-dns/app/secrets.yaml
  clusters/lovenet/apps/notifications/github/secrets.yaml
  clusters/lovenet/apps/storage/minio/app/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
Labels: area/cluster

fix
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/cluster

fix-lint
  .github/linters/.flake8
  .github/linters/.markdownlint.yaml
  .github/workflows/lint.yaml
Labels: area/github

add
  .github/linters/.jscpd.json
  .github/workflows/lint.yaml
Labels: area/github

fix-jscpd
  .github/linters/.jscpd.json
Labels: area/github

fix-auth
  clusters/lovenet/apps/authentication/authelia/app/patches/env.yaml
  clusters/lovenet/apps/authentication/authelia/app/secrets-tmpl.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/secrets.yaml
  clusters/lovenet/apps/authentication/authelia/app/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/app/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/users.sops.toml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/app/secrets.yaml
  clusters/lovenet/apps/downloads/autobrr/app/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/app/secrets.yaml
  clusters/lovenet/apps/home/emqx/app/secrets.yaml
  clusters/lovenet/apps/home/frigate/app/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/app/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/app/secrets.yaml
  clusters/lovenet/apps/kube-system/k8sgpt/config/secrets.yaml
  clusters/lovenet/apps/media/immich/app/secrets.yaml
  clusters/lovenet/apps/media/lidarr/app/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/app/secrets.yaml
  clusters/lovenet/apps/media/radarr/app/secrets.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/app/secrets.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets.yaml
  clusters/lovenet/apps/media/sonarr/app/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/secrets.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/secrets.yaml
  clusters/lovenet/apps/network/external-dns/app/secrets.yaml
  clusters/lovenet/apps/notifications/github/secrets.yaml
  clusters/lovenet/apps/storage/minio/app/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
Labels: area/cluster

fix-lint
  .github/linters/.jscpd.json
Labels: area/github

remove-docker-io
  clusters/lovenet/apps/home/vaultwarden/app/helm-release.yaml
Labels: area/cluster

remove-v-string
  clusters/lovenet/apps/home/vaultwarden/app/helm-release.yaml
Labels: area/cluster

update-renovate
  .github/renovate.json5
Labels: area/github

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to b1a7855
  clusters/lovenet/apps/kube-system/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.2.3992
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix-runner-secrets
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

fix-keys
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/secrets-tmpl.yaml
  clusters/lovenet/apps/authentication/authelia/app/secrets-tmpl.yaml
Labels: area/cluster

fix-keys
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/secrets-tmpl.yaml
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/secrets.yaml
  clusters/lovenet/apps/authentication/authelia/app/secrets-tmpl.yaml
  clusters/lovenet/apps/authentication/authelia/app/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/app/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/users.sops.toml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/app/secrets.yaml
  clusters/lovenet/apps/downloads/autobrr/app/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/app/secrets.yaml
  clusters/lovenet/apps/home/emqx/app/secrets.yaml
  clusters/lovenet/apps/home/frigate/app/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/app/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/app/secrets.yaml
  clusters/lovenet/apps/kube-system/k8sgpt/config/secrets.yaml
  clusters/lovenet/apps/media/immich/app/secrets.yaml
  clusters/lovenet/apps/media/lidarr/app/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/app/secrets.yaml
  clusters/lovenet/apps/media/radarr/app/secrets.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/app/secrets.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets.yaml
  clusters/lovenet/apps/media/sonarr/app/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/secrets.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/secrets.yaml
  clusters/lovenet/apps/network/external-dns/app/secrets.yaml
  clusters/lovenet/apps/notifications/github/secrets.yaml
  clusters/lovenet/apps/storage/minio/app/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
