Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update helm release home-assistant to v13.0.2
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.26.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

Revert "try-one-secret-file"
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

update-feeds-json-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

fix-one-secret-file
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

concurrencyPolicy
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.7.1
  .pre-commit-config.yaml
Labels: none

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.7.1505
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release prometheus-blackbox-exporter to v5.7.0
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release qbittorrent to v13.3.0
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release radarr to v16.1.0
  clusters/lovenet/apps/media/radarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release sonarr to v16.1.0
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.2.5
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v2.6.13
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.19
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

apply-label-to-cronjob
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

always-pull-policy
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

always-pull-policy
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

run-cronjob-every-30m
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

limit-number-of-jobs
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

run-cronjob-every-10m
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

kodi-helm-chart
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
  clusters/lovenet/apps/media/kodi-helm/kustomization.yaml
  clusters/lovenet/apps/media/kodi-helm/nfs-config.yaml
  clusters/lovenet/base/flux-system/charts/git/kustomization.yaml
Labels: area/cluster

fix-spacing
  clusters/lovenet/base/flux-system/charts/git/kustomization.yaml
Labels: area/cluster

add-missing-files
  clusters/lovenet/base/flux-system/charts/git/rwlove-charts.yaml
Labels: area/cluster

update-rwlove-charts
  clusters/lovenet/base/flux-system/charts/git/rwlove-charts.yaml
Labels: area/cluster

enable-kodi-helm
  clusters/lovenet/apps/media/kustomization.yaml
Labels: area/cluster

branch-format
  clusters/lovenet/base/flux-system/charts/git/rwlove-charts.yaml
Labels: area/cluster

remove-kodi-helm-dashboard
  clusters/lovenet/apps/media/kodi-helm/kustomization.yaml
Labels: area/cluster

rename-kodi-helm-helmrelease
  clusters/lovenet/apps/media/kodi-helm/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.26.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

move-idrac
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/config-map.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/dashboard/dashboard.json
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/dashboard/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/kustomization.yaml
Labels: area/cluster

fix-idrac-params
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/config-map.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/helm-release.yaml
Labels: area/cluster

foo
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/helm-release.yaml
Labels: area/cluster

remove-snmp-exporters
  clusters/lovenet/core/monitoring/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/config-map.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/dashboard/dashboard.json
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/dashboard/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/apc-ups-0/prometheus-rule.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/config-map.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/dashboard/dashboard.json
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/dashboard/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/helm-release.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/kustomization.yaml
  clusters/lovenet/core/monitoring/snmp-exporter/kustomization.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

remove-subpath
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

fix(helm): update helm release node-problem-detector to v2.2.1
  clusters/lovenet/core/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v2.6.14
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.20
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster
