Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"

fix(helm): update helm release mosquitto to v4.8.2
  clusters/lovenet/apps/home/mosquitto/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v39.4.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/zwave-js/zwavejs2mqtt to 6.15.1
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.7.3
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.1.4
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.4.1935
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm release metallb to v4
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.8.0
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

chore(github-action): update kah library chart
  charts/kah-common/charts/common-4.5.0.tgz
  charts/kah-common/charts/common-4.5.1.tgz
Labels: none

fix(helm): update helm release phpmyadmin to v10.2.2
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

chore(github-action): update kah library chart
  charts/kah-common/charts/common-4.5.1.tgz
  charts/kah-common/charts/common-4.5.2.tgz
Labels: none

fix(helm): update helm release nfs-subdir-external-provisioner to v4.0.17
  clusters/lovenet/core/kube-system/nfs-client-provisioner/helm-release.yaml
Labels: area/cluster

feat(github-release)!: Update pre-commit hook jumanjihouse/pre-commit-hooks to v3
  .pre-commit-config.yaml
Labels: none

Revert "feat(helm)!: Update Helm release metallb to v4"
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2644
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

update-rennovate
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release phpmyadmin to v10.2.3
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.1.6
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release goldilocks to v6.2.0
  clusters/lovenet/core/monitoring/goldilocks/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v39.4.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/zwave-js/zwavejs2mqtt to 6.15.2
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix-photoprism
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v39.5.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

add-prysm
  clusters/lovenet/apps/crypto/kustomization.yaml
  clusters/lovenet/apps/crypto/prysm/helm-release.yaml
  clusters/lovenet/apps/crypto/prysm/kustomization.yaml
  clusters/lovenet/apps/kustomization.yaml
Labels: area/cluster

add-ethereum-helm-charts
  clusters/lovenet/base/flux-system/charts/helm/ethereum-charts.yaml
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
Labels: area/cluster

add-crypto-ns
  clusters/lovenet/core/namespaces/crypto.yaml
  clusters/lovenet/core/namespaces/kustomization.yaml
Labels: area/cluster

fix-ethereum-charts
  clusters/lovenet/base/flux-system/charts/helm/kustomization.yaml
Labels: area/cluster

fix-prysm-ingress-class
  clusters/lovenet/apps/crypto/prysm/helm-release.yaml
Labels: area/cluster

fix-prysm-ingress
  clusters/lovenet/apps/crypto/prysm/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.8.2
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.10.0
  .pre-commit-config.yaml
Labels: none

add-concensus-monitor
  clusters/lovenet/apps/crypto/consensus-monitor/helm-release.yaml
  clusters/lovenet/apps/crypto/consensus-monitor/kustomization.yaml
Labels: area/cluster

add-geth
  clusters/lovenet/apps/crypto/geth/helm-release.yaml
  clusters/lovenet/apps/crypto/geth/kustomization.yaml
Labels: area/cluster

add-ethstats
  clusters/lovenet/apps/crypto/kustomization.yaml
Labels: area/cluster

add-ethstats
  clusters/lovenet/apps/crypto/ethstats/helm-release.yaml
  clusters/lovenet/apps/crypto/ethstats/kustomization.yaml
Labels: area/cluster

del-crypto-ns
  clusters/lovenet/apps/kustomization.yaml
  clusters/lovenet/core/namespaces/kustomization.yaml
Labels: area/cluster

fix(helm): update helm release pihole to v2.9.1
  clusters/lovenet/apps/network/pihole/helm-release.yaml
Labels: area/cluster

remove-wallabag
  clusters/lovenet/apps/home/kustomization.yaml
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
  clusters/lovenet/apps/home/wallabag/kustomization.yaml
  clusters/lovenet/apps/home/wallabag/nfs-config.yaml
Labels: area/cluster

fix-bitnami-rennovate
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release ingress-nginx to v4.2.1
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster
