Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(helm): update helm release node-problem-detector to v2.2.3
  clusters/lovenet/core/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.10.2
  .pre-commit-config.yaml
Labels: none

fix-metrics-server
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

fix-metrics-server
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

fix-metrics-server
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

metrics-server-secure-port
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

Revert "metrics-server-secure-port"
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

metrics-server-insecure-tls
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

Revert "metrics-server-insecure-tls"
  clusters/lovenet/core/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.7.5
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.32.12
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.1.7
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.2.4
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

no-vpa-longhorn
  clusters/lovenet/core/namespaces/longhorn-system.yaml
Labels: area/cluster

remove-kanboard
  clusters/lovenet/apps/home/kanboard/helm-release.yaml
  clusters/lovenet/apps/home/kanboard/kustomization.yaml
  clusters/lovenet/apps/home/kanboard/nfs-config.yaml
  clusters/lovenet/apps/home/kustomization.yaml
Labels: area/cluster

fix-owncloud-truecharts
  clusters/lovenet/apps/home/owncloud-ocis/helm-release.yaml
  clusters/lovenet/apps/home/owncloud-ocis/kustomization.yaml
  clusters/lovenet/apps/home/owncloud-ocis/secrets-tmpl.yaml
  create-secrets.sh
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/owncloud-ocis/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

ocis-OCIS_SYSTEM_USER_ID
  clusters/lovenet/apps/home/owncloud-ocis/secrets-tmpl.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/home/owncloud-ocis/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-rennovate.json5
  .github/renovate.json5
Labels: area/github

renovate-commitmessage
  .github/renovate.json5
  .github/renovate/commitMessage.json
Labels: area/github

fix(helm): update helm chart node-problem-detector to 2.2.3
  clusters/lovenet/core/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

fix(container): update docker image ghcr.io/home-assistant/home-assistant to 2022.8.3
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 39.6.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm chart prometheus-blackbox-exporter to 7.0.0
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

fix(container): update docker image timberio/vector to 0.23.3
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart vector to 0.15.0
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

loki-memberlist-null
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

loki-memberlist-fix
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix-loki-date-quotes
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart starboard-operator to 0.10.7
  clusters/lovenet/core/starboard-system/starboard-operator/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart k8s-gateway to 1.1.12
  clusters/lovenet/apps/network/k8s_gateway/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart longhorn to 1.3.1
  clusters/lovenet/core/longhorn/helm-release.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.32.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(container): update docker image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.4.1945
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart vector to 0.15.1
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update docker image kubernetesui/dashboard to v2.6.1
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.10.3
  .pre-commit-config.yaml
Labels: none

feat(helm): update helm chart kubernetes-dashboard to 5.8.0
  clusters/lovenet/apps/home/dashboard/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.32.13
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
