Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

Revert "disable-ai"
  clusters/lovenet/apps/ai/k8sgpt/app/helm-release.yaml
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml
Labels: area/cluster

remove-osd-0
  clusters/lovenet/apps/storage/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

Revert "remove-osd-0"
  clusters/lovenet/apps/storage/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

remove-osd-3
  clusters/lovenet/apps/storage/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

Revert "remove-osd-3"
  clusters/lovenet/apps/storage/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to b0a925c
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to b0a925c
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

enable-prompt-template
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml
Labels: area/cluster

basement-to-frontyard
  clusters/lovenet/apps/home/frigate/app/config.yaml
Labels: area/cluster

increase-localai-limits
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml
Labels: area/cluster

frigate-remove-objects
  clusters/lovenet/apps/home/frigate/app/config.yaml
Labels: area/cluster

Revert "frigate-remove-objects"
  clusters/lovenet/apps/home/frigate/app/config.yaml
Labels: area/cluster

frigate-fix
  clusters/lovenet/apps/home/frigate/app/config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.3.4011
  clusters/lovenet/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.1.0
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/app/helm-release.yaml
Labels: area/cluster

Revert "Revert "mopidy-file-not-jellyfin""
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

fix-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/mopidy.conf
Labels: area/cluster

remove-dup-local
  clusters/lovenet/apps/media/radio/mopidy/app/mopidy.conf
Labels: area/cluster

fix-promt-templates
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml
Labels: area/cluster

fix-lint
  clusters/lovenet/apps/ai/localai/app/helm-release.yaml
Labels: area/cluster

prettierignore
  .github/linters/.prettierignore
Labels: area/github

remove-secrets
  clusters/lovenet/apps/downloads/qbittorrent-rss/app/feeds-json-secrets-tmpl.yaml
Labels: area/cluster

update-precommit
  .github/linters/.prettierignore
  .github/linters/.yamllint.yaml
  .pre-commit-config.yaml
  clusters/lovenet/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/github, area/cluster

disable-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml.disabled
Labels: area/cluster

Revert "disable-mopidy"
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

fix-mopidy
  clusters/lovenet/apps/media/radio/mopidy/app/helm-release.yaml
Labels: area/cluster

frigate-remove-turret
  clusters/lovenet/apps/home/frigate/app/config.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 4353810
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-kubectl to cf75269
  clusters/lovenet/apps/network/cloudflare-ddns/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to 78f7bbd
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 4f3aefd
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 4f3aefd
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/github-actions-runner to e2dac9b
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/jellyfin to 795c10d
  clusters/lovenet/apps/media/jellyfin/app/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/bjw-s/mdbook to f416d9c
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 892d823
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/runners/helm-release.yaml
Labels: area/cluster

authelia-secret
  clusters/lovenet/apps/authentication/authelia/app/patches/env.yaml
  clusters/lovenet/apps/authentication/authelia/app/secrets-tmpl.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/actions-runner-system/actions-runner-controller/app/secrets.yaml
  clusters/lovenet/apps/ai/k8sgpt/config/secrets.yaml
  clusters/lovenet/apps/authentication/authelia/app/secrets.yaml
  clusters/lovenet/apps/authentication/glauth/app/config/groups.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/server.sops.toml
  clusters/lovenet/apps/authentication/glauth/app/config/users.sops.toml
  clusters/lovenet/apps/databases/cloudnative-pg/config/secrets.yaml
  clusters/lovenet/apps/databases/pgadmin/app/secrets.yaml
  clusters/lovenet/apps/downloads/autobrr/app/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/double-take/app/secrets.yaml
  clusters/lovenet/apps/home/emqx/app/secrets.yaml
  clusters/lovenet/apps/home/frigate/app/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/app/secrets.yaml
  clusters/lovenet/apps/home/nextcloud/app/secrets.yaml
  clusters/lovenet/apps/home/smtp-relay/app/secrets.yaml
  clusters/lovenet/apps/home/vaultwarden/app/secrets.yaml
  clusters/lovenet/apps/media/immich/app/secrets.yaml
  clusters/lovenet/apps/media/lidarr/app/secrets.yaml
  clusters/lovenet/apps/media/prowlarr/app/secrets.yaml
  clusters/lovenet/apps/media/radarr/app/secrets.yaml
  clusters/lovenet/apps/media/radio/mopidy/app/secrets.yaml
  clusters/lovenet/apps/media/recyclarr/app/secrets.yaml
  clusters/lovenet/apps/media/sabnzbd/app/secrets.yaml
  clusters/lovenet/apps/media/sonarr/app/secrets.yaml
  clusters/lovenet/apps/monitoring/grafana/app/secrets.yaml
  clusters/lovenet/apps/monitoring/vector/aggregator/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/app/secrets.yaml
  clusters/lovenet/apps/network/downloads-gateway/app/secrets.yaml
  clusters/lovenet/apps/network/external-dns/app/secrets.yaml
  clusters/lovenet/apps/notifications/github/secrets.yaml
  clusters/lovenet/apps/storage/minio/app/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
Labels: area/cluster

disable-authelia
  clusters/lovenet/apps/authentication/authelia/app/helm-release.yaml.disabled
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/jellyfin to 85af531
  clusters/lovenet/apps/media/jellyfin/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
