Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update helm release youtubedl-material to v4.3.1
  clusters/lovenet/apps/media/youtube-dl/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kanboard to v4.7.1
  clusters/lovenet/apps/home/kanboard/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release zwavejs2mqtt to v5.3.1
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release lidarr to v14.1.2
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix-double-take-config-errors
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v35.0.3
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix-starboard
  clusters/lovenet/crds/kustomization.yaml
  clusters/lovenet/crds/starboard/crds.yaml
  clusters/lovenet/crds/starboard/kustomization.yaml
Labels: area/cluster

chore(github-action): update kah library chart
  charts/kah-common/charts/common-4.3.0.tgz
  charts/kah-common/charts/common-4.4.1.tgz
Labels: none

fix-ingress-media
  clusters/lovenet/apps/media/bazarr/helm-release.yaml
  clusters/lovenet/apps/media/beets/helm-release.yaml
  clusters/lovenet/apps/media/flaresolverr/helm-release.yaml
  clusters/lovenet/apps/media/gonic/helm-release.yaml
  clusters/lovenet/apps/media/jellyfin/helm-release.yaml
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
  clusters/lovenet/apps/media/radarr/helm-release.yaml
  clusters/lovenet/apps/media/youtube-dl/helm-release.yaml
Labels: area/cluster

fix-ingress-home
  clusters/lovenet/apps/home/double-take/helm-release.yaml
  clusters/lovenet/apps/home/esphome/helm-release.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml
  clusters/lovenet/apps/home/grocy/helm-release.yaml
  clusters/lovenet/apps/home/hajimari/helm-release.yaml
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
  clusters/lovenet/apps/home/homer/helm-release.yaml
  clusters/lovenet/apps/home/joplin/helm-release.yaml
  clusters/lovenet/apps/home/kanboard/helm-release.yaml
  clusters/lovenet/apps/home/node-red/helm-release.yaml
  clusters/lovenet/apps/home/owncloud-ocis/helm-release.yaml
  clusters/lovenet/apps/home/vaultwarden/helm-release.yaml
  clusters/lovenet/apps/home/wallabag/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix-ingress-remaining-apps
  clusters/lovenet/apps/flux-system/webhook/github/ingress.yaml
  clusters/lovenet/apps/network/omada/helm-release.yaml
  clusters/lovenet/apps/network/traefik/dashboard/ingress.yaml
  clusters/lovenet/apps/network/whoami/helm-release.yaml
  clusters/lovenet/core/monitoring/goldilocks/helm-release.yaml
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
  clusters/lovenet/core/monitoring/statping/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.37.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release k8s-gateway to v1.1.7
  clusters/lovenet/apps/network/k8s_gateway/helm-release.yaml
Labels: area/cluster

feat(github-release): update dependency fluxcd/flux2 to v0.30.0
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.38.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.39.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-release): update dependency fluxcd/flux2 to v0.30.1
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(github-release): update dependency fluxcd/flux2 to v0.30.2
  clusters/lovenet/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.19.5
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release traefik to v10.19.5
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.41.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release photoprism to v6.6.2
  clusters/lovenet/apps/media/photoprism/helm-release.yaml
Labels: area/cluster

add-echo-server
  clusters/lovenet/apps/network/echo-server/helm-release.yaml
  clusters/lovenet/apps/network/echo-server/kustomization.yaml
  clusters/lovenet/apps/network/kustomization.yaml
Labels: area/cluster

add-kubevip-daemonset-for-master2-master3
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix-network-namespace
  clusters/lovenet/apps/network/echo-server/helm-release.yaml
Labels: area/cluster

fix-kube-vip-syntax
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.41.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

reduce-nodeselectorterms
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

update-rss-secrets
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
Labels: area/cluster

update-blackbox-urls
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

valetudo-lb
  clusters/lovenet/apps/home/icantbelieveitsnotvaletudo/helm-release.yaml
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
  tmpl/cluster-settings.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
  create-secrets.sh
Labels: area/cluster

update-blackbox-names
  clusters/lovenet/core/monitoring/blackbox-exporter/helm-release.yaml
Labels: area/cluster

update-valetudo-svc
  clusters/lovenet/apps/home/icantbelieveitsnotvaletudo/helm-release.yaml
Labels: area/cluster

enalbe-valetudo-svc
  clusters/lovenet/apps/home/icantbelieveitsnotvaletudo/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.43.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.45.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release grafana to v6.29.0
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

qbt-rss-30m
  clusters/lovenet/apps/media/qbittorrent-rss/cron-job.yaml
Labels: area/cluster

fix-echo-server-ingress
  clusters/lovenet/apps/network/echo-server/helm-release.yaml
Labels: area/cluster
