Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

feat(helm): update helm release vpa to v1.4.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v35.5.2
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.9
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release vpa to v1.4.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.82.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.5
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v35.5.4
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.5.5
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.0.13
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v35.6.2
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm)!: Update Helm release kube-prometheus-stack to v36
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm release grafana to v6.29.11
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.83.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.83.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1816
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.7
  .pre-commit-config.yaml
Labels: none

fix(helm): update helm release ingress-nginx to v4.1.4
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.9
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.3.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update helm release vpa to v1.4.0
  clusters/lovenet/core/kube-system/vpa/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.83.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(container): update helm values b4bz/homer to v22.06.1
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.8.1537
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(container): update helm values jakowenko/double-take to 1.12.0
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release kube-prometheus-stack to v36.0.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.83.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm release kube-prometheus-stack to v36.0.1
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm release loki to v2.12.1
  clusters/lovenet/core/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.5.6
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.85.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release vector to v0.13.0
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release cert-manager to v1.8.1
  clusters/lovenet/core/cert-manager/helm-release.yaml
  clusters/lovenet/crds/cert-manager/kustomization.yaml
Labels: area/cluster

feat(helm): update helm release vector to v0.13.0
  clusters/lovenet/core/monitoring/vector/agent/helm-release.yaml
  clusters/lovenet/core/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release cert-manager to v1.8.1
  clusters/lovenet/core/cert-manager/helm-release.yaml
  clusters/lovenet/crds/cert-manager/kustomization.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.86.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.6
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/home-assistant/home-assistant to 2022.6.6
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.87.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release longhorn to v1.3.0
  clusters/lovenet/core/longhorn/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.21.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
