Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update helm release external-dns to v6.4.5
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

influxdb-nginx-service-lb
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.5
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.4.6
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release reloader to v0.0.113
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

feat(github-release): update dependency kubernetes-sigs/external-dns to v0.12.0
  clusters/lovenet/crds/external-dns/crds.yaml
Labels: area/cluster

zwavejs2mqtt-zstick-7
  clusters/lovenet/apps/home/kustomization.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/kustomization.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/nfs-config.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/zwave-js/zwavejs2mqtt to 6.11.0
  clusters/lovenet/apps/home/zwavejs2mqtt-z-stick-7/helm-release.yaml
  clusters/lovenet/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.66.6
  .github/workflows/schedule-renovate.yaml
Labels: area/github

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

add-cloudflare-ddns
  clusters/lovenet/apps/network/cloudflare-ddns/cloudflare-ddns.sh
  clusters/lovenet/apps/network/cloudflare-ddns/cron-job.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/kustomization.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets-tmpl.yaml
  clusters/lovenet/apps/network/kustomization.yaml
  create-secrets.sh
Labels: area/cluster

add-cloudflare-ddns-secrets
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

influxdb-grafana
  clusters/lovenet/core/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix-influxdb-persistence
  clusters/lovenet/core/monitoring/influxdb/helm-release.yaml
  clusters/lovenet/core/monitoring/influxdb/nfs-config.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.66.7
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update helm release external-dns to v6.5.1
  clusters/lovenet/apps/network/external-dns/helm-release.yaml
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

ddns-namespace
  clusters/lovenet/apps/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

ddns-namespace
  clusters/lovenet/apps/network/cloudflare-ddns/kustomization.yaml
Labels: area/cluster

fix-ddns-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/mopidy/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/env-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent-rss/feeds-json-secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets-tmpl.yaml
  clusters/lovenet/apps/network/cloudflare-ddns/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/monitoring/vector/geoipupdate/secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.6
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.8.6
  .pre-commit-config.yaml
Labels: none

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.8.1525
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.68.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update helm values ghcr.io/k8s-at-home/sonarr-develop to v3.0.8.1526
  clusters/lovenet/apps/media/sonarr/helm-release.yaml
Labels: area/cluster

change-idrac-snmp-target
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.68.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

change-idrac-snmp-target-to-ip
  clusters/lovenet/core/monitoring/snmp-exporter/dell-idrac/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release node-problem-detector to v2.2.2
  clusters/lovenet/core/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

feat(container): update helm values jakowenko/double-take to 1.11.0
  clusters/lovenet/apps/home/double-take/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.68.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.68.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update lycheeverse/lychee-action action to v1.5.0
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

fix(helm): update helm release mariadb to v11.0.9
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release mariadb to v11.0.9
  clusters/lovenet/apps/media/kodidb-helm/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v10.1.6
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/lidarr-nightly to v1.0.2.2590
  clusters/lovenet/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1796
  clusters/lovenet/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster
