Repository rwlove/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

update-secrets
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix(helm): update helm release metallb to v2.6.10
  clusters/lovenet/core/metallb/helm-release.yaml
Labels: area/cluster

fix(helm): update helm release phpmyadmin to v9.0.14
  clusters/lovenet/core/kube-system/phpmyadmin/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.11.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.7.5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

update-prowlarr-config-longhorn
  clusters/lovenet/apps/media/prowlarr/nfs-config.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.11.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

update-radarr-config-longhorn
  clusters/lovenet/apps/media/radarr/nfs-config.yaml
Labels: area/cluster

fix(helm): update helm release external-dns to v6.2.3
  clusters/lovenet/apps/network/internal-dns/helm-release.yaml
Labels: area/cluster

update-lidarr-config-longhorn
  clusters/lovenet/apps/media/lidarr/nfs-config.yaml
Labels: area/cluster

update-stash-config-longhorn
  clusters/lovenet/apps/media/stash/nfs-config.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/cert-manager/issuers/secrets.yaml
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
  initialize-cluster.sh
Labels: area/cluster

remove-storage-vpa
  clusters/lovenet/core/namespaces/storage.yaml
Labels: area/cluster

lidarr-longhorn-static
  clusters/lovenet/apps/media/lidarr/nfs-config.yaml
Labels: area/cluster

fix(helm): update helm release reloader to v0.0.110
  clusters/lovenet/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

feat(container): update helm values codercom/code-server to 4.2.0
  clusters/lovenet/apps/home/homer/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.11.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v34.2.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

update-cert-manager-crd-to-v1.7.2
  clusters/lovenet/crds/cert-manager/kustomization.yaml
Labels: area/cluster

move-cert-manager-to-core
  clusters/lovenet/apps/cert-manager/kustomization.yaml
  clusters/lovenet/core/cert-manager/issuers/kustomization.yaml
  clusters/lovenet/core/cert-manager/issuers/letsencrypt-production.yaml
  clusters/lovenet/core/cert-manager/issuers/letsencrypt-staging.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/cert-manager/kustomization.yaml
Labels: area/cluster

update-megalinter
  .github/workflows/megalinter.yaml
Labels: area/github

update-rennovate.json
  .github/renovate.json5
Labels: area/github

update-github-scripts
  .github/scripts/cloudflare-proxied-networks.sh
  .github/scripts/helm-release-differ.sh
Labels: area/github

feat(helm): update helm release kube-prometheus-stack to v34.3.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.17.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v34.3.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm release traefik to v10.19.0
  clusters/lovenet/apps/network/traefik/helm-release.yaml
Labels: area/cluster

feat(container): update helm values ghcr.io/tarampampam/error-pages to 2.12.0
  clusters/lovenet/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(helm): update helm release kube-prometheus-stack to v34.5.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.5.2
  .pre-commit-config.yaml
Labels: none

feat(helm): update helm release kube-prometheus-stack to v34.5.0
  clusters/lovenet/core/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/lovenet/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

create-secrets-before-initialize-cluster
  clusters/lovenet/apps/home/appdaemon/tmpl/secrets-tmpl.yaml
  clusters/lovenet/apps/home/frigate/helm-release.yaml
  clusters/lovenet/apps/home/frigate/secrets-tmpl.yaml
  clusters/lovenet/apps/home/home-assistant/helm-release.yaml
  clusters/lovenet/apps/home/home-assistant/secrets-tmpl.yaml
  clusters/lovenet/apps/home/home-assistant/tmpl/secrets-tmpl.yaml
  clusters/lovenet/apps/media/qbittorrent/helm-release.yaml
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/base/flux-system/gotk-sync.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
  create-secrets.sh
  initialize-cluster.sh
  tmpl/cert-manager-secrets.yaml
  tmpl/cluster-secrets.yaml
  tmpl/cluster-settings.yaml
  tmpl/kube-vip-daemonset.yaml
Labels: area/cluster

remove-tmpl-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets-tmpl.yaml
  clusters/lovenet/apps/home/appdaemon/secrets-tmpl.yaml
  clusters/lovenet/apps/media/kodidb/deployment.yaml
  clusters/lovenet/apps/media/kodidb/secrets-tmpl.yaml
  clusters/lovenet/apps/media/kodidb/tmpl/secrets-tmpl.yaml
  clusters/lovenet/apps/network/external-dns/secrets-tmpl.yaml
  clusters/lovenet/apps/network/traefik/middlewares/kustomization.yaml
  clusters/lovenet/apps/network/traefik/middlewares/secrets.yaml
  clusters/lovenet/apps/network/traefik/middlewares/tmpl/secrets-tmpl.yaml
  clusters/lovenet/core/monitoring/grafana/grafana-helm-values.yaml
  clusters/lovenet/core/notifications/github/secrets-tmpl.yaml
  create-secrets.sh
Labels: area/cluster

fix-initialize-cluster
  initialize-cluster.sh
Labels: none

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

fix-flux-url
  tmpl/gotk-sync.yaml
Labels: none

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

update-secrets
  clusters/lovenet/apps/flux-system/webhook/github/secrets.yaml
  clusters/lovenet/apps/home/appdaemon/secrets.yaml
  clusters/lovenet/apps/home/frigate/secrets.yaml
  clusters/lovenet/apps/home/home-assistant/secrets.yaml
  clusters/lovenet/apps/media/kodidb/secrets.yaml
  clusters/lovenet/apps/media/qbittorrent/secrets.yaml
  clusters/lovenet/apps/network/external-dns/secrets.yaml
  clusters/lovenet/base/cluster-secrets.yaml
  clusters/lovenet/core/notifications/github/secrets.yaml
Labels: area/cluster

commit-gotk-sync.yaml
  clusters/lovenet/base/flux-system/gotk-sync.yaml
Labels: area/cluster

commit
  clusters/lovenet/base/cluster-settings.yaml
  clusters/lovenet/core/cert-manager/issuers/secrets.yaml
  clusters/lovenet/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "clusters/lovenet/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
